[2018-04-20 21:02] sabrinang opened #1 "Master Spreadsheet of Design Assets 2018"
Update the design assets document for 2018 on google spreadsheets: https://docs.google.com/a/mozilla.com/spreadsheets/d/1J4LS4ILtG5x-jxwHEwGuDzXHRHC9IQM4t9fg2OUeRBs/edit?usp=sharing

This doc will be referred to as we file tickets to give an overview of all assets. Issues will be filled in this repo and all tickets will be organized with milestones and projects to give an overview of the timeline.

[2018-04-20 21:47] sabrinang opened #2 "Ideas for 2018"
Reveiw feedback from various sources and scope out feasibility and decide if it will be implemented this year.

### Sources:
- 2017 repo tickets and specifically: https://github.com/MozillaFoundation/mozfest-design-2017/issues/86
- 2017 Internal production team debrief on etherpad: https://public.etherpad-mozilla.org/p/festival.designfeedback17
- 2018 MozRetreat collaborative notes (Feedback/Chat

[2018-04-20 22:08] sabrinang opened #3 "Theme & Tagline for MozFest 2018"
The visual design process gets informed by the theme and tagline each year. Also, consider how the Mozilla brand and Internet Health can inform the festival's brand and direction.

A key take away from last year was finish tagline earlier and get it locked with approval so we move design deadlines up.
______________

During the MozRetreat we learned:

### MozFest 2018 Theme
**Your data and you** —

[2018-04-24 21:09] sabrinang opened #4 "Social: Graphics for Call for Proposals"
Create a simple graphic that will accompany social media posts for proposals that is dependent on issue https://github.com/mozilla/mozillafestival.org/issues/859

Platforms: Twitter and Facebook (any others?)
Date: Sent out on June 1

____________________
### Reference from Previous Years:

2017 issue: https://github.com/mozilla/mozillafestival.org/issues/541
2017 l10n issue: https://github.com/mo

[2018-04-24 21:46] sabrinang commented on #3
Closing this ticket as content work will be documented here https://github.com/mozilla/mozillafestival.org/issues/862

[2018-04-24 21:46] #3 closed

[2018-04-27 22:54] sabrinang opened #5 "Branding: Visual Art Direction Moodboards"
### Description
Create and brainstorm moodboards to inform 1-3 visual directions for Mozilla Festival 2018. Consider how the Mozilla brand, MozFest 2018 theme and Internet Health themes can inform the festival's brand and direction.

### Reference from Previous Years
2017 Google Slides: goo.gl/VcKhtD
2017: Github Ticket: https://github.com/MozillaFoundation/mozfest-design-2017/issues/4

2016 Googl

[2018-04-30 12:46] bunnybooboo commented on #4
I share quite a bit on Mastodon ([recently added](https://discourse.mozilla.org/t/iam-coss-parsys-sprint-h-review/28144) to Mozillians accts too):
  - user acct avatar image size at most 2MB and downscaled to 400x400px
  - user acct header image size at most 2MB and downscaled to 700x335px
  - maximum shareable image size 1280x1280 @ 8MB
  - since v2.3.3 it's possible to define the 'center' of cro

[2018-05-01 01:10] sabrinang commented on #1
This will inform writing the SOW for design contractor posting: https://github.com/mozilla/mozillafestival.org/issues/880

[2018-05-01 22:22] sabrinang opened #6 "Guide & Checklist: Onsite Design Set Up and Supplies"
Document checklists and guides to help people implementing design or volunteers helping set up. We can put all these tips and checklists on one google doc that can include:
- Photo Shot List Ideas for Photographers
- Registration Desk Set-up and Checklist
- Stage Set-Up Instructions
- Venue Design Set-Up and Supply Checklist

[2018-05-01 22:48] sabrinang opened #7 "Swag Ideas"
### Description:
Brainstorm what we want to give as swag. We can consider physical swag (favouring more minimal or sustainable options) and consider digital swag (reducing environmental impact and depends on the sponsors). Also, consider how much effort it may require for our volunteer to assemble or organize it together and reduce this dependency when possible. We will start from what we had last

[2018-05-01 23:06] sabrinang commented on #6
Google doc here: https://docs.google.com/document/d/1psSZrWX5DlnYLvWOVF6x1XTXY-vg4tOY9OBAp1TuX40/edit#heading=h.qw8939e5gkzi

[2018-05-04 22:17] sabrinang opened #8 "Branding: Mozilla Festival Lockup (Wordmark and Logo)"
### Description
Update the lockup and wordmark for 2018.

The [logo application](https://mozilla.design/expression/) guidelines have been updated again since last year and we can see if it applies for MozFest or we can just update the year.

___________
### Related Tickets
2017: https://github.com/MozillaFoundation/mozfest-design-2017/issues/5

[2018-05-08 17:34] sabrinang opened #9 "Sponsorship Asset Ideas"
### Description:
Scope out the potential design assets for sponsors we will need to include for 2018.

Go through Juan's GSheet here: https://docs.google.com/spreadsheets/d/1Ws27D7OjGuoOG9AHbmR3InYFBuRgntJOu-y3ERQxEL0/edit?usp=sharing

### Reference from Last Year:
https://github.com/MozillaFoundation/mozfest-design-2017/issues/2

[2018-06-02 10:34] sabrinang commented on #4
<img width="1094" alt="screen shot 2018-06-02 at 2 40 35 am" src="https://user-images.githubusercontent.com/2492510/40873409-631a93bc-6614-11e8-8191-97b2a010b793.png">
Call for proposal graphic .jpgs available in EN, DE, ES, FR in four colours in gdrive folder: https://drive.google.com/open?id=1q5Yn3Hv7Zs0UpyxBGd4mCZEpqcfgXfTV

### Reference
copy issue/duplicate: https://github.com/mozilla/mozilla

[2018-06-03 03:49] KGorr commented on #4
@sabrinang - these are amazing! Thanks so much for the quick turnaround!

[2018-06-03 03:50] KGorr commented on #4
@sabrinang - can we turn the gdrive link for these to anyone with the link can view? I believe that's what we did last year so folks could download. Let me know!

[2018-06-04 11:27] bunnybooboo commented on #4
Is it possible to have all 4 colors in both sizes?

[2018-06-05 18:34] sabrinang commented on #4
@KGorr I changed permissions to _Anyone who has the link can view_ now
@bunnybooboo Yes, I can work on colours for both sizes and will update this ticket and the folder

[2018-06-07 21:00] sabrinang commented on #4
I have updated the folder: https://drive.google.com/open?id=1q5Yn3Hv7Zs0UpyxBGd4mCZEpqcfgXfTV

@bunnybooboo colours are available in both sizes now
@barrosgeraldo your pt-br translation can be found in the folder too

[2018-06-08 20:24] barrosgg commented on #4
Thank @sabrinang

[2018-06-18 10:55] bunnybooboo commented on #7
Seeds. Seeding ideas. Growing networks. eg: https://www.totalmerchandise.co.uk/products/details/Kraft-Paper-Seed-Pockets and https://www.totalmerchandise.co.uk/products/details/5-Stick-Seed-Packs

EDIT: this may be a terrible idea for international travel!

[2018-06-18 10:57] bunnybooboo commented on #7
Cloth fabric frisbees.

[2018-06-18 11:01] bunnybooboo commented on #7
Shoe laces.

[2018-06-18 11:06] bunnybooboo commented on #7
Option to forego swag and donate to a marginal/diversity/privacy initiative instead.

[2018-06-18 11:16] bunnybooboo commented on #7
Artisanal tea bags.

[2018-06-26 03:18] KGorr opened #10 "Social: Graphics for Ticket Sales"
It would be great if we could duplicate the [MozFest Call for Proposals graphics](https://github.com/MozillaFoundation/mozfest-design-2018/issues/4) and adjust for ticket sales.

Suggested Phrases:
"MozFest Tickets Are Now Available"
"Join Me At MozFest 2018!"
"Data Done Right: MozFest 2018"

Would include in Ticket Sales Communication Cheat Sheet: https://docs.google.com/document/d/1jTn78OyXn0SiM

[2018-06-26 03:18] KGorr commented on #10
@Saallen @KevZawacki @caltrider - thoughts on the suggested phrases above?

[2018-06-26 12:09] KevZawacki commented on #10
Hi @KGorr,

I'd change the second to "Join Us At MozFest 2018!"

Otherwise, right on 👍

[2018-06-26 15:58] caltrider commented on #10
@KGorr I think you could lose the work "are" in the first one: MozFest Tickets Now Available"

Otherwise, looks good to me.

[2018-07-02 19:28] plwt commented on #7
Hi.  I am working on a Mozilla Festival swag idea with some people in MoCo, but so that we can consider the costs/implementation, what is the expected number of attendees at MozFest this year?

[2018-07-04 01:19] sabrinang commented on #4
I updated the folder with the remaining hi-IN and SW language variations: https://drive.google.com/open?id=1q5Yn3Hv7Zs0UpyxBGd4mCZEpqcfgXfTV

[2018-07-04 01:19] #4 closed

[2018-07-06 18:31] sabrinang commented on #10
Great, final copy is:
"MozFest Tickets Now Available"
"Join Us At MozFest 2018!"
"Data Done Right: MozFest 2018"

[2018-07-24 22:59] sabrinang opened #11 "Social: Graphic for Countdown to MozFest"
Create a simple graphic of gif that will accompany social media posts counting down to the opening of MozFest that will help with final ticket push.

**Copy:** TBD
**Date to be Posted:**  TBD
**Platforms:** Twitter

[2018-07-24 23:03] sabrinang opened #12 "Social: Graphic to Announce Live Dialogue & Debates (Speaker Series)"
Create a graphic of gif that will accompany social media posts that announce when the Dialogue & Debate video streams are going live.

**Copy:** TBD
**Date to be Posted:**  TBD
**Platforms:** Twitter

____________________
### Reference from Previous Years:

2017 issue: https://github.com/MozillaFoundation/mozfest-design-2017/issues/57

[2018-07-24 23:06] sabrinang opened #13 "Social: Graphic to Announce Friday Night Party (Science Fair)"
Create a graphic of gif that will accompany social media posts that announce the Friday night opening party and science fair.

**Copy:** TBD
**Date to be Posted:**  TBD
**Platforms:** Twitter

____________________
### Reference from Previous Years:

2017 issue: https://github.com/MozillaFoundation/mozfest-design-2017/issues/58

[2018-07-24 23:08] sabrinang opened #14 "Social: Template for Experiences"
Create a graphic that will accompany social media posts that has a border or template that frames the experiences images.

Experiences:
Queering MozFest
Gaming MozFest
Art + Data - https://issuu.com/mozfest/docs/mozillafestival_art_data_online_cat

**Copy:** TBD
**Date to be Posted:**  TBD
**Platforms:** Twitter

[2018-07-24 23:12] sabrinang opened #15 "Social: Graphics for each Space"
Create a graphic for social media of each of the 6 spaces at MozFest. https://mozillafestival.org/spaces

- Decentralisation
- Digital Inclusion
- Openness
- Privacy and Security
- Web Literacy
- Youth Zone

**Copy:** TBD
**Date to be Posted:**  TBD
**Platforms:** Twitter

____________________
### Reference from Previous Years:

2017 issue: https://github.com/MozillaFoundation/mozfest-design-2017/

[2018-07-24 23:18] sabrinang opened #16 "Social: Graphic for MozFest House"
Create a graphic that will accompany social media posts about MozFest House.

**Copy:** TBD
**Date to be Posted:**  TBD
**Platforms:** Twitter

[2018-07-24 23:28] sabrinang opened #17 "Social: Graphic for Theme"
Create a graphic for social media of the Data Done Right theme this year.

**l10n copy issue:** https://github.com/mozilla/mozillafestival.org/issues/923
**Date to be Posted:**  TBD
**Platforms:** Twitter

[2018-07-24 23:34] sabrinang opened #18 "Social: Graphic of an Overview of MozFest"
Create a graphic that gives an overview of MozFest 2018 for social media. The content can be an an simple infographic or summary.

**Copy:** TBD
**Date to be Posted:**  TBD
**Platforms:** Twitter

____________________
### Reference from Previous Years:

2017 infographic issue: https://github.com/MozillaFoundation/mozfest-design-2017/issues/74
2017 summary issue: https://github.com/MozillaFoundatio

[2018-07-24 23:45] sabrinang opened #19 "Social: Dialogue & Debates Speaker Profile Cards"
Create profile cards for each Dialogue & Debates speaker or a template that can be used for social media promotion.

List of speakers TBD

____________________
### Reference from Previous Years:

2017 issue: https://github.com/MozillaFoundation/mozfest-design-2017/issues/55

[2018-07-24 23:49] sabrinang opened #20 "Social: Space Wrangler Profile Cards"
Create profile cards for space wranglers or a template that can be used for social media promotion. These cards can perhaps be by space instead of individuals.

https://mozillafestival.org/team/wranglers

Wrangler bio spreadsheet: https://docs.google.com/spreadsheets/d/1eCbNq1dK2xG5DtYmoMysCGlXb4cf7dlGzIt0u7QnN0g/edit#gid=0

_____________________
It may be helpful to reference Dialogue & Debates P

[2018-07-24 23:52] sabrinang opened #21 "Social: Template for Generic Quotes and Text"
Create templates for quotes/text that can be used for sharing on social. These may be colour coded according to the MozFest spaces.

____________________
### Reference from Previous Years:

2017 issue: https://github.com/MozillaFoundation/mozfest-design-2017/issues/56

[2018-07-25 00:00] sabrinang opened #22 "Social: Template for Generic Photo/Border Image Treatment"
Create templates for images that can be used for sharing on social.

____________________
### Reference from Previous Years:

2017 issue: https://github.com/MozillaFoundation/mozfest-design-2017/issues/59

[2018-07-25 00:09] sabrinang opened #23 "Social: Short Promotional Video"
We have videos under a minute that can be used short promotional videos:

MozFest Social 2017: https://vimeo.com/264062401
MozFest House 2017: https://vimeo.com/264061565
MozFest Science Fair 2017: https://vimeo.com/264061848

We may not need to trim videos ourselves this year.
____________________
### Reference from Previous Years:

2017 issue: https://github.com/MozillaFoundation/mozfest-design-

[2018-07-25 00:16] sabrinang opened #24 "Social: Update Profile & Cover Photos"
Refresh MozFest's social media properties by updating profile photos and header cover photos.

Examples:

<img width="1000" alt="image" src="https://user-images.githubusercontent.com/2492510/43172587-cabc0d24-8f64-11e8-8314-f5f80e78bb1d.png">
<img width="905" alt="image" src="https://user-images.githubusercontent.com/2492510/43172551-aa750d04-8f64-11e8-8e8a-798b11694fed.png">
<img width="999" alt=

[2018-07-25 17:52] sabrinang opened #25 "Branding: Tagline (Data Done Right) Lockup"
### Description:
Design a lockup treatment of the tagline this year which is `Data Done Right`

**Format**
We can have a main outline version and fill version. Include various alternative examples of modified versions.

### Previous Applications
2016: variations of 'One Web'
2017: variations of 'Web for All'
<img width="953" alt="image" src="https://user-images.githubusercontent.com/2492510/432179

[2018-07-25 20:45] sabrinang opened #26 "Branding: Space Icons (or Visuals)"
### Description:
This year we may (or may not) revise six visuals to represent each space that reflects the new visual direction. The spaces are physical and thematic learning hubs based around a broad topic which include:

- Openness
- Digital inclusion
- Decentralisation
- Privacy and security
- Web literacy
- Youth Zone

More information on these spaces can be found on https://mozillafestival.o

[2018-07-25 21:28] sabrinang opened #27 "Branding: Colour"
### Description:
Determine colour palette used for this year's MozFest. Align with Mozilla wide palette or Foundation site palette or adapt last year's palette. Include a variety that works with people who have colour vision deficiencies.

**Format**
Include .ase file and document in style guide.

### Previous Applications
<img width="1072" alt="image" src="https://user-images.githubusercontent.co

[2018-07-25 21:56] sabrinang opened #28 "Branding: Typography"
### Description:
We continue to use Zilla Slab as our main typeface across Mozilla. Determine the display typeface for this year's visual direction and pair it with Zilla Slab.

### Previous Applications
<img width="1188" alt="image" src="https://user-images.githubusercontent.com/2492510/43229457-abe8c9ea-9019-11e8-8dae-9f388c2f4972.png">

### Reference from Last Year:
Seen in Style Guide Github I

[2018-07-25 22:09] sabrinang opened #29 "Branding: Art Textures"
### Description:
Dependent on visual direction moodboards. Create a vector based texture that will provide the flexibility to crop in for a macro texture and micro texture if used in its entirety. If we have one scalable texture we can crop from different sections and apply them in different ways.

**Deliverables:**
* hi-res scalable texture that can be printed large scale (stage) and smaller prin

[2018-07-25 22:30] sabrinang opened #30 "Branding: Experience Alignment"
### Description:
This year we are introducing _Queering MozFest_, _Gaming MozFest_, _Art & Data_(renamed) as an experiences at MozFest.

### Question and Previous Applications:
Previously we had "Curated Programming" or "Tracks" throughout the festival's spaces instead which were: journalism, open policy + advocacy and youth-led but we did not need visuals to signal these. Do we need anything visu

[2018-07-25 22:50] sabrinang opened #31 "Branding: Style Guide"
### Description:
Create a style guide for MozFest's visual direction for 2018. Document an extended version and a simplified version that can be easily shared with wranglers, volunteers etc.

This will be informed by:
- Visual Direction Moodboards #5

This will consist of:
- MozFest Lockups #8
- Tagline Lockups #25
- Space Icons #26
- Experience visuals? #30
- Color #27
- Typography #28
- Art Text

[2018-07-25 23:10] sabrinang opened #32 "Branding: Mozilla Festival House Lockup (Wordmark and Logo)"
### Description
We have discussed that House does not need the year appended to the end of the lockup and we will use the visual brand established from last year. Export lockup and wordmark and place it in 2018 folder.

### Reference
<img width="540" alt="image" src="https://user-images.githubusercontent.com/2492510/43232339-2e8282aa-9025-11e8-8cc7-f1df2bf602ac.png">

___________
### Related Ticke

[2018-07-26 22:31] sabrinang opened #33 "Lighting: Wall Wash"
### Description:
On level 4's Big Space, we will have a coloured light wash on the walls of Ravensbourne.

### Previous Applications
![mozilla-festival-2017-306](https://user-images.githubusercontent.com/2492510/33043172-548f1e02-cdf9-11e7-9604-da002bb0c053.jpg)

### Reference from Last Year:
Github issue: 2016: https://github.com/MozillaFoundation/Mozfest2016_production/issues/188#issuecomment-25

[2018-07-26 22:32] sabrinang opened #34 "Lighting: Wall Projection (Gobo Design)"
### Description:
On level 4's Big Space, we will have a gobo light projection design on to the wall. It can include variations in colour and motion.

### Previous Applications
![mozfest-logo-wall-projection small](https://cloud.githubusercontent.com/assets/2492510/20079232/a1f511b8-a4f8-11e6-8166-2813613cbcb2.gif)
![mozfest-lighting](https://user-images.githubusercontent.com/2492510/33042747-c7360

[2018-07-26 23:09] sabrinang opened #35 "Stage: Main and Secondary Printed Backdrops"
### Description:
There are two stages:
- the Main Stage on Level 4
- the Secondary _(Dialogue and Debates Stage)_ in the Walker Space on Level 0

These had a printed backdrop, two screens and one comfort monitor.

#### Things to Consider
- Both stages should have related designs to each other
- Talks will be streamed and recorded from Secondary stage
- This is a good opportunity to think about how

[2018-07-26 23:41] sabrinang opened #36 "Screen: Motion Graphic Video"
### Description:
This video will be on loop playing motion graphics on screens around the building displaying festival information.

Content TBD such as:
* MozFest 2018 Logo
* Tagline
* Experiences (Queering MozFest, Gaming MozFest, Art + Data)
* Dialogue & Debates (times, talk, speaker, location)
* #mozhelp + info desk
* Social Media (hashtags, handles, platforms, pulse)
* WiFi (network, password

[2018-07-27 00:05] sabrinang opened #37 "Screen: Dialogue & Debates Google Slide Template"
### Description:
Create slides that come before and after speaker's own slides (intro/outro) with new visuals in various colour. Slides to consider to design:
* Dialogue & Debates Section Intros (Date, Time)
* Individual Speaker Slide (Name, Role, Handle)
* Generic Text slide
* Logo slide
* Tagline slide
* Q&A
* Thank You

TBD that speaker's are providing there own slide content in between.

### P

[2018-07-27 21:47] sabrinang opened #38 "Screen: Dialogue & Debates Video Title and End Cards"
### Description:
Create screens that come before and after speaker's videos (intro/outro). These can correspond with the speaker slides itself (issue https://github.com/MozillaFoundation/mozfest-design-2018/issues/37)

**Each title card contains:**
- Speaker's Name
- Mozilla Festival 2018 Wordmark
- Dialogue & Debates title

**An individual end card can be used for all videos that contain:**
- Moz

[2018-07-27 22:10] sabrinang opened #39 "Screen: Background + Assets for ProPresenter Social"
### Description:
Screens near the main stage will be using ProPresenter to showcase social media activity from twitter, instagram etc.

Assets TBD to deliver:
- background
- typography
- lockups
- tagline
- hashtag

### Previous Applications:
https://github.com/MozillaFoundation/mozfest-design-2017/issues/14#issuecomment-346896553
![mozilla-festival-2017_propresenter-slide](https://user-images.git

[2018-07-27 22:18] sabrinang opened #40 "Screen: Background + Assets for AirMo + Youtube Video Stream"
### Description:
For audiences tuning into the Dialogue & Debates on Air Mozilla and Youtube, we need to prepare some branded assets to be displayed with the video stream.

Assets TBD to deliver:
- Background behind AirMo Logo (16x9, 1920x1080)
- Lockup, Logo + Wordmark (.png)
- Title Card for MozFest 2017 Opening Keynote (16:9, 1920x1080)
- Title Card for Speaker Names
- Title Card for MozFest 20

[2018-07-27 23:30] sabrinang opened #41 "Wayfinding: Entrance, Space and Floor Banners"
### Description:
Design banners that hang from the balustrades that can be seen from the foyer and atrium that help indicate what each floor is for.

**This collection of banners include:**
- [ ] Mozilla Festival 2018 Branded (Entrance) x2
- [ ] Data Done Right (Entrance) x2
- [ ] Floor No. (M-9)
- [ ] Youth Zone
- [ ] Privacy & Security
- [ ] Openness
- [ ] Decentralization
- [ ] Digital Inclusio

[2018-08-01 21:02] sabrinang opened #42 "Wayfinding: Floor Plan Maps"
### Description:
Update location of spaces and specific locations for this year and update the branding and colours. This content includes highlighting:
- Spaces
- Lunch
- Coffee
- D&D Stage
- Main Stage
- Quiet Space
- Toilets
- Water
- #mozhelp
- Info Booth
- Artist Space
- Registration

### The collection of maps include:
- [ ]  11 Current Floor Maps
- each floor has a unique version
- [ ] 1 Fl

[2018-08-01 21:22] sabrinang opened #43 "Wayfinding: Registration Table Banner (or Table Cloth)"
### Description:
When attendees enter the venue, there are a few registration tables set up and signs or table cloths that help make the tables look official so people know where to go.

### Specifications
Previous year's we printed a paper banner for the front. Let's aim to streamline these 10 tables to have tablecloths. These table cloths can include:
- Mozilla Festival Lockup
- Mozilla Logo
- W

[2018-08-01 21:47] sabrinang opened #44 "Wayfinding: Registration Table Signage & Area Design"
### Description:
When attendees enter the venue, there is registration signage to help identify the various stations to guide them through the process.

### This collection of signs include:

- [ ] Welcome sign (with l10n incorporated) https://github.com/mozilla/mozillafestival.org/issues/720
- [ ] Sign-in & Register Sign
- [ ] Participation Guidelines
- [ ] Customize Your Name ID Sign
- [ ] Instr

[2018-08-01 21:54] sabrinang opened #45 "Registration Table: Understand Me Better Cards (a11y)"
### Description
At the Youth & Press & Accessibility registration table, there will be "Understand Me Better" cards the size of business cards for people to use to hand out when communication is difficult

**Format**
An idea was to include a hole puncher here too so attendees can clip it on their name card for convenient access.

### Previous Applications
https://github.com/MozillaFoundation/mozfe

[2018-08-01 22:08] sabrinang opened #46 "Wayfinding: Info Booths for Spaces"
### Description:
At the entrance or stairway to each space or floor, we have a desk stationed with space information for attendees. We can place this information totem to anchor the space with description, map and participation guidelines.

**This booth can include:**

- [ ] Space Info (Name, Icon, Description) for all 6 Spaces
- [ ] Information Symbol
- [ ] Participation Guidelines
- [ ] Map of S

[2018-08-01 22:27] sabrinang opened #47 "Wayfinding: #MozHelp Desk Signage & Area Design"
### Description:
Last year, the #MozHelp desk was on level 4 outside the library. Design some signs to make this easy to find.

### This collection of signs include:
- [ ] Metal Bus Stop Sign
- [ ] Floor Sign
- [ ] Table Front sign
- [ ] Plastic Mini Stand Sign
- Large Banner in the back?

**Format:**
There are various formats of signage (bus stop sign, floor sign, plastic stand, table front) near

[2018-08-01 22:42] sabrinang opened #48 "Wayfinding: Floor Stickers"
### Description:
To accompany the wayfinding maps, we will use a floor sticker system that displays floor number, space name, directional arrows, venue areas and branding. The information is modular in case we don't know which space is assigned to which particular floor until early October so when we do the install at Ravensbourne we have a flexible system. Last year we printed extra stair vinyls

[2018-08-01 22:54] sabrinang opened #49 "Wayfinding: Sponsorship Banner"
### Description:
Create a standing banner located on the registration floor and Juan suggested that last year's banner should have been larger.

**Format:**
Display banner stand but size TBD

### Previous Applications
![image](https://user-images.githubusercontent.com/2492510/43553196-abf72a4c-95a2-11e8-906e-915c37f7b6d0.png)

### Reference from Last Year:
Google Drive Files: https://drive.google.

[2018-08-02 17:37] sabrinang opened #50 "Wayfinding: Hackable Signs for Space Session Schedule"
### Description:
Design empty template signs for wranglers to make a sign for sessions hosted in their space.

This year we may want to try the idea of having a hackable schedule poster like a whiteboard near the space entrance. It can be empty blocks for wranglers or info booth volunteers to fill in if it is useful but even having framed hackable posters is a good start to make these schedules lo

[2018-08-02 17:48] sabrinang opened #51 "Wayfinding: Hackable Signs for Session Cards"
### Description:
Design empty template signs for session hosts to make a sign for their session. These cards can be used for the science fair demos as well.

**Format**
- full A4
- folded A4

### Previous Applications
https://github.com/MozillaFoundation/mozfest-design-2017/issues/34#issuecomment-346195634
<img width="1091" alt="image" src="https://user-images.githubusercontent.com/2492510/3170804

[2018-08-02 17:55] sabrinang opened #52 "Wayfinding: Hackable Signs for Rooms and Arrows"
### Description:
An idea to create printed arrows and cards for room number for space wranglers to use?

**Format**
- TBD but the Web Literacy space had custom system last year

### Previous Applications
![image](https://user-images.githubusercontent.com/2492510/43601595-66d7bf1c-9642-11e8-8bc1-3fb0c757f7f9.png)
![image](https://user-images.githubusercontent.com/2492510/43601605-6f0d7938-9642-11e8

[2018-08-02 18:22] sabrinang opened #53 "Poster: Tagline Poster (& L10n Version)"
### Description:
Design official MozFest Tagline posters that will be around the building and collect them at the end of the event for people to take them home. There will be a version with the l10n of the tagline as a poster.

**Format and Quantity**
- [ ] Main (EN) Poster
- [ ] L10n Poster

### Previous Applications
![mozilla-festival-2017-227](https://user-images.githubusercontent.com/2492510/3

[2018-08-02 18:49] sabrinang opened #54 "Poster: Dialogues & Debates"
### Description:
Design promotional poster for the speakers this year at MozFest. Last year, each time block was designed as a collection to feature a cluster of speakers. Posters should include information such as:

- Time of talk
- Speakers' names
- Speakers' photos
- Title of each speaker's talk
- Location (Walker Space on the ground floor)

Information on speakers will be here but to be confir

[2018-08-02 19:27] sabrinang opened #55 "Poster: Photo & Video Consent"
### Description:
Poster that outlines our photo consent policy. This is displayed prominently at registration, near the debates room and near the mains stage area. This will be at MozFest House as well.

**Format**
- A2 and A3?

### Previous Applications
I prefer the smaller sandwich board style on the table than the oversized leaning on front. It can be installed behind them.
![mozfest-house-25](

[2018-08-02 19:35] sabrinang opened #56 "Poster: Participation Guidelines (en/l10n)"
### Description:
Poster that outlines our participation guideline policy. This is displayed prominently at registration, info booths and throughout the space. This is also on the back of the printed festival guide.

**Content**
TBD
These guidelines will be localized in other languages as well so this poster should accommodate more than English or if there are too many languages then we may need to

[2018-08-02 20:20] sabrinang commented on #56
Content dependent on https://github.com/mozilla/mozillafestival.org/issues/1045

[2018-08-02 20:21] sabrinang commented on #46
Participation Guideline content dependent on https://github.com/mozilla/mozillafestival.org/issues/1045

[2018-08-02 20:38] sabrinang opened #57 "Swag: Mozilla Festival Stickers"
### Description:
We want to create some event stickers for MozFest and perhaps for MozFest House too.

**Main sticker ideas:**
- Mozilla Festival 2018 lockup sticker
- Mozilla Festival Tagline _(Data Done Right)_

**Other ideas include:**
- Generic Mozilla (stickers to reuse at other events)
- 6 MozFest Spaces
- 3 MozFest Experiences

Sticker supplier: https://www.stickermule.com

### Previous App

[2018-08-02 20:52] sabrinang opened #58 "Swag: Name Card Stickers (language/pronoun/role/icebreaker)"
### Description:
Create a sticker system that we can use to customize attendee name tags. Decide if these stickers serve as hackable labels or if they are pre-printed. These stickers include:

**Language Stickers**
These help indicate what languages they speak. Having pre-printed languages seemed messy as a lot were not used or participants couldn't find their language and often wrote their own bu

[2018-08-02 20:58] sabrinang opened #59 "Swag: Privacy Screen Stickers"
### Description:
Sticker Mule provided some stickers that cover device cameras for privacy and we should ask if they can provide some again.

Sticker supplier: https://www.stickermule.com

### Previous Applications
![image](https://user-images.githubusercontent.com/2492510/43610810-0c1d32d6-965c-11e8-9b9d-34a7773d7ba2.png)

[2018-08-02 21:04] sabrinang opened #60 "Wayfinding: Floor & Stair Stickers"
### Description:
To accompany the wayfinding maps, we will use floor and stair sticker system that displays floor number, space name, directional arrows, venue areas and branding. The information is modular in case we don't know which space is assigned to so when we do the install at Ravensbourne we have a flexible system. Last year we printed extra set and it was helpful as we lost some or they g

[2018-08-02 21:16] sabrinang commented on #58
cc/ @acabunoc on this ticket early regarding any sticker related icebreaker activity you might have in mind for this MozFest this year. We can incorporate into planning the design and when we send these to print so you don't have to do it separately?

[2018-08-02 21:24] abbycabs commented on #58
Thanks @sabrinang! I'm also open to ideas if you have anything better than DNA matching :)

[2018-08-02 21:27] sabrinang opened #61 "Swag: Volunteer T-Shirts"
### Description:
Design t-shirts for the lovely volunteers so they can be easily spotted by attendees at MozFest and at MozFest House. The front of the shirt may contain this year's branding and tagline. The back will have the #MozFest and it has been preferred to have the date present (example: MozFest 2017 or Mozilla Festival 2017) as it is seen as a collectable by volunteers. :)

### Format
- M

[2018-08-02 21:38] sabrinang opened #62 "Swag: Name Card ID"
### Description:
Refresh the design of the name card ID that participants will wear on their lanyard. From previous year, many people customize their name tag a lot so they may need more "hackable" space. TBD how many versions of the name card we need as we have day tickets and MozFest House.

**Versions TBD**
- Full festival weekend card
- MozFest House card
- Science fair only card
- Saturday on

[2018-08-02 21:46] sabrinang opened #63 "Swag: Lanyard"
### Description:
Decide on the colour of the lanyard for attendees as well as a colour for attendees who do not want to be on video or photographed.

**Format**
Last year, we had lanyards with 2-point metal swivel lobster clasp style clip were the main style. Yellow lanyards were used to indicate they did not want photo/video taken of them. Both lanyards have a safety release in the center.

Previ

[2018-08-02 21:59] sabrinang opened #64 "MozFest House: Event Wristbands"
### Description:
Choose various colours for different events and main ones can include the House lockup or type uses Zilla Slab.

### Supplier
https://www.aawristbands.co.uk/?gclid=CM-E94WWk9YCFU-17QodWvYGUw

### Previous Applications
![mozfest-house-21](https://user-images.githubusercontent.com/2492510/32469111-0e3e8de6-c306-11e7-9282-08f96e91bd2a.jpg)

### Reference from Last Year:
Github Issue:

[2018-08-02 22:05] sabrinang opened #65 "MozFest House: Customizable Letter Poster Signage"
### Description:
Make a pattern/textured pattern in Google Slides that can be remixed to make letter size posters. This is a generic template to be remixed by Lucie and Marc. This is printed on site.

### Previous Applications
<img width="953" alt="image" src="https://user-images.githubusercontent.com/2492510/31746233-25f57e94-b41b-11e7-8090-0201c5d1710e.png">

![mozfest-house-36](https://user-ima

[2018-08-02 22:12] sabrinang opened #66 "MozFest House: Branded Pillar Totems & Folding Screen"
### Description:
Incorporate colour and house lockup to bring in some branding into the space. This can coordinate with the palette of the coups and lighting for the pillars. We used the vertical lockup for these last year.

### Format
- 2x [Totem 3 XL](https://www.pixartprinting.co.uk/displays/point-of-sale-displays/totem-3-xl/)
- 8x [Totem 3](https://www.pixartprinting.co.uk/displays/point-of-sa

[2018-08-02 22:16] sabrinang opened #67 "MozFest House: Table Cloths"
### Description:
We may reusable the ones from last year if we still have them. These are found in the coffee area and registration table.

### Previous Application
![mozfest-house-39](https://user-images.githubusercontent.com/2492510/32521579-d16cdb70-c3c8-11e7-96ef-434cb927875c.jpg)

### Related Issue
Wayfinding: Registration Table Banner (or Table Cloth) #43

### Reference from Last Year
Github

[2018-08-02 22:21] sabrinang opened #68 "MozFest House: Welcome & Sponsors Screens"
### Description:
Screen in main entrance that displays welcome, lockup and sponsors. If we want something on all 3 screens it can only be a static picture. We can put slides or video on the screens, however this will only appear on one screen not all three.

### Previous Application
![mozfest-house-47](https://user-images.githubusercontent.com/2492510/32470124-e4396822-c30a-11e7-90b7-20b729108d82.

[2018-08-02 22:24] sabrinang opened #69 "MozFest House: Coffee Cups"
### Description:
We will have thousands of branded cups at MozFest house since the space can't have branding on walls the cups are an opportunity to have it showcased.

### Previous Applications
![mozfest-house-5](https://user-images.githubusercontent.com/2492510/32521940-359f3b6e-c3ca-11e7-843e-a994c3c8de8a.jpg)

### Reference from Last Years
Google Drive: https://drive.google.com/a/mozilla.com/f

[2018-08-02 22:28] sabrinang opened #70 "MozFest House: Window Vinyls"
### Description
Last year the contractor made a large vinyl on the back window and in the narrow windows on the bottom floor.

### Previous Applications
![mozfest-house-19](https://user-images.githubusercontent.com/2492510/32969513-4636d5cc-cb9a-11e7-881b-366106676a4c.jpg)
![mozfest-photos-1](https://user-images.githubusercontent.com/2492510/32970094-63db9b24-cb9c-11e7-8bcb-d870db0a3ed4.jpg)

###

[2018-08-02 22:31] sabrinang opened #71 "MozFest House: Printed Backdrops, Podiums and Schedule"
### Description
The MozFest House contractor made backdrops, podium covers and standing schedule last year.

### Previous Applications
![mozfest-house_podium](https://user-images.githubusercontent.com/2492510/33190733-fd7dd374-d064-11e7-90ca-842505f0da6c.jpeg)
![image](https://user-images.githubusercontent.com/2492510/43614642-183a87be-9669-11e8-9cf0-12afb5e818b8.png)
![mozfest-photos-1](https://u

[2018-08-02 23:21] sabrinang opened #72 "MozFest House: Lighting and Decor"
### Description
Give colour palette documentation for this year's visual direction to inform the lighting and decor of the RSA space.

[2018-08-02 23:36] sabrinang opened #73 "Swag: Festival Guide"
### Description:
The festival guide is a key and informative part of the MozFest swag. Last year's festival guide included a pocket for a separate map.

**Format:**
This year we can decide on a format and consult https://aspectpress.co.uk/

**Timeline:**
[Aug 13-Sept 7] Creating content and writing copy
[Sept 7] Content deadline and copy draft
[Sept 14] Print Concept Specifications + Pagination Ou

[2018-08-03 00:01] sabrinang opened #74 "App: Branding for Schedule (Guidebook)"
### Description:
If we are using Guidebook's branded app this year there are a few design elements to prepare for it:
- [ ] App Icon
- [ ] Promotional Image
- [ ] Splash Screen
- [ ] Homepage Logo
- [ ] Cover Image
- [ ] App Screenshots
- [ ] Colour Scheme
- [ ] Menu Icons

Guidebook has [support](https://support.guidebook.com/hc/en-us/articles/115002968827) on how we can customize as we build the

[2018-08-03 17:11] sabrinang opened #75 "MozFest & MozFest House: Sponsorship Design Assets"
### Description
An overview of the sponsorship that is included in design assets this year.

### MozFest Assets

#### Presenting festival partner only

- x8 Floor Displays (2 Food/Bar Area, 2 Registration Table Area, 2 Lounge Area, 2 Backup) https://github.com/MozillaFoundation/mozfest-design-2018/issues/8
- x6 Posters (4 behind registration table are near entrance (welcome) sign, 2 Backup) https:

[2018-08-03 18:55] sabrinang commented on #75
@jcbarajas /ccing you on this issue so we can coordinate on these print/digital deadlines listed above. Can you check the list of desired assets you want to incorporate sponsorship? If there are more please comment on this issue and I'll file the corresponding asset issues so it can be included and triaged.

You can link any sponsorship logos (vector format prefered) you receive to be included in

[2018-08-03 19:50] sabrinang commented on #42
Note: Confirm dates when the spaces will be finalized by (project spreadsheet says Oct 1)

[2018-08-03 22:27] sabrinang commented on #7
@marcwalsh do you know the max number of tickets on sale for MozFest weekend this year? Just wondering how much swag we accommodate for the weekend (I'm guessing around 2000)?

[2018-08-03 22:42] sabrinang opened #76 "Dialogues & Debates: Speaker Photos"
### Description
We have a few design assets (print & digital) that includes the faces of the Dialogues and Debates speakers. Provide hi-res photos of each speaker to be included. This list of assets include: printed festival guide, poster, gslide template, video motion graphic, social media graphics & website

https://github.com/MozillaFoundation/mozfest-design-2018/issues?q=is%3Aopen+is%3Aissue+l

[2018-08-03 23:05] sabrinang commented on #1
Update: All assets except for swag and sponsorship has been filed as issues in github issue backlog. Issues will be triaged in milestones every two weeks and it would be great to include printer deadlines and quantity so we can track these in the issue.

[2018-08-06 13:42] KevZawacki commented on #76
Hi @sabrinang, you can find all speaker headshots [here](https://drive.google.com/drive/folders/1uz7gEXQOSy8JaQc-BUQjuNJ1p_FlHWza).

Some are no hi-res... working on getting better ones.

[2018-08-07 12:53] marcwalsh commented on #61
I'm looking into have two types of t-shirt cuts this year. One is [unisex](https://www.xamax.co.uk/products/tops-trousers-accessories/tops/t-shirts/gildan-softstyler-adult-t-shirt.html) and the other is for [women](https://www.xamax.co.uk/gildan-softstyler-ladies-t-shirt.html).  The delivery spec remains the same.

Color options that are consistant for both are listed in the image below.

![coloro

[2018-08-07 17:16] sabrinang commented on #6
Note: make checklist points on photo requirements from contributors etc.

[2018-08-07 20:11] sabrinang commented on #7
@consuelamckenzie @marcwalsh
We can refer to the [google doc](https://docs.google.com/document/d/1DEPZuepkichBzHHmM87zH7fkqBKAgoAAY9rrrNz2s-A/edit?usp=sharing) and any comments on this issue for Thursday's swag meeting.

Please come with ideas or add to the doc before the meeting for swag so we can consolidate ideas and issues can be filled once we have decided what we want.

[2018-08-07 20:14] sabrinang commented on #47
Note: We may want to include a #MozHelp sign about toiletries we want to supply at the desk area and in the halls of the washrooms

/cc @Saallen for more details on what we are supplying and copy

[2018-08-07 20:36] plwt commented on #7
It would be great if you get some idea of how many people are expected at the weekend part of MozFest.  Time is starting to get a bit tight, but hopefully the idea that is being looked into may still be very much on the table.

[2018-08-08 00:00] sabrinang commented on #10
@KGorr Can you review these ticket graphics for social? https://redpen.io/p/nyb128bb0ec90417aa

[2018-08-08 00:04] sabrinang commented on #23
@KGorr All these videos are under a minute:
MozFest Social 2017: https://vimeo.com/264062401
MozFest House 2017: https://vimeo.com/264061565
MozFest Science Fair 2017: https://vimeo.com/264061848

Would you need anything else for short promotional videos or can we close this issue?

[2018-08-08 00:33] sabrinang opened #77 "Art + Data: Artist's Photos"
### Description
We have a few design assets (print & digital) that included the faces of the Artist Open Studios artists previously and assuming it would be similar for Art + Data this year. Provide hi-res photos of each artist and any images of their work to be included.

This list of assets include: printed festival guide spread & video motion graphic. If we have the capacity we may include it o

[2018-08-08 01:04] sabrinang commented on #46
Floor Plan maps content dependent on https://github.com/MozillaFoundation/mozfest-design-2018/issues/42

[2018-08-08 02:21] sabrinang commented on #55
### Copy from 2017:

**Privacy Alert**
Please don't photograph people with yellow lanyards

- If you do not wish to be photographed or videoed, please request a yellow lanyard from Registration. These special lanyards signify that you do not wish to be captured by the onsite photography and video team.

- Stage activity on the 4th floor and in the Walker Space will be captured on video. If you do

[2018-08-08 17:04] sabrinang commented on #31
Note: consider exporting Adobe CC Library to sync colour, style, symbols etc.

[2018-08-08 23:48] sabrinang commented on #32
I refined the margins, documented space and size usage. Exported all lockup, logo and wordmark alternatives in two-color black and white, one-colour black and one-colour white. Please follow https://mozilla.design/mlogo/ for improper usage and extended Mozilla logo reference.

Google Drive folder: https://drive.google.com/open?id=1Hn8HJIcdfnoUnwF1NtI9O2xZa1W8XQ3x
![mozilla-festival-house-2018_bran

[2018-08-08 23:49] sabrinang commented on #32
Documented in WIP extended style guide - closing issue.

[2018-08-08 23:49] #32 closed

[2018-08-09 00:40] sabrinang commented on #30
@Saallen any thoughts on this topic?

[2018-08-09 10:56] Saallen commented on #30
@sabrinang I think creating alignment between them all through visual branding is great but I would advise talking to each one to see what their perspective is.
Queering MozFest and Art + Data (not &) will be working with artists and might appreciate a distinctive link- Gaming mozfest will be presenting itself as a "organisation" that is asking you to participate in their game and so might want so

[2018-08-09 21:09] sabrinang commented on #73
Update we met to chat about the content for the festival guide and outlined it in google doc here: https://docs.google.com/document/d/1_VQ4ye6r_8JJ6RAXhATcMXOTciUq0owStN-tkPPEPms/edit

@makikoumezawa and I can work on a rough pagination outline for @zee-moz to refer to as she writes.

[2018-08-10 00:35] sabrinang commented on #8
I refined the margins by making it consistent throughout (horizontal lockup had less logo margins than annual lockup), documented space and size usage. Revised proportion slightly so lockups align with House lockups now. Exported all lockup, logo and wordmark alternatives in two-color black and white, one-colour black and one-colour white. Please follow https://mozilla.design/mlogo/ for improper u

[2018-08-10 00:36] sabrinang commented on #8
Documented in WIP extended style guide - closing issue.

[2018-08-10 00:36] #8 closed

[2018-08-10 15:44] KGorr commented on #10
@sabrinang - I love all of them!

[2018-08-10 15:47] KGorr commented on #23
@sabrinang - I think all of these will work well. Thanks!

[2018-08-10 18:14] sabrinang commented on #10
Thanks for the review @KGorr

I have exported the .jpgs social assets on google drive here: https://drive.google.com/open?id=1YBdmf0wKYs3bvRoyN-IDyLsYs_N_-R83

Referring to https://github.com/mozilla/mozillafestival.org/issues/992 I have included `MozFest Tickets Now Available` heading on l10n versions as well (Swahili isn't translated).

[2018-08-10 19:09] KGorr commented on #10
@sabrinang - Thank you!

[2018-08-10 19:18] #10 closed

[2018-08-10 22:04] sabrinang commented on #26
We will continue to use the icons established since the spaces did not change from last year. I documented space and size usage. Exported icon variants one-colour black and one-colour white and also primary and small scale versions.

Google Drive folder: https://drive.google.com/open?id=1YCIJfiHJtimSPeMgslKgMneTZLzm5PE6
![mozilla-festival-2018_space-icons-overview](https://user-images.githubuserco

[2018-08-10 22:04] sabrinang commented on #26
Documented in WIP extended style guide - closing issue.

[2018-08-10 22:04] #26 closed

[2018-08-10 23:23] sabrinang opened #78 "Social: Update Open Graph Image (og:image)"
Update the site thumbnail image https://mozillafestival.org/assets/images/site-thumbnail.jpg. Update to current visual branding with Zilla Slab highlight lockup as the old image is in Fira Sans:

![](https://slack-redir.net/link?url=https%3A%2F%2Fmozillafestival.org%2Fassets%2Fimages%2Fsite-thumbnail.jpg)

[2018-08-11 00:39] sabrinang opened #79 "Email: Invitation Graphic"
Refer to issue filed here https://github.com/mozilla/mozillafestival.org/issues/1017

[2018-08-11 00:40] #79 closed

[2018-08-13 21:11] #2 closed

[2018-08-14 16:15] makikoumezawa commented on #73
Here's the Google slide link for the flat-plan overview (pagination outline) that we are referring to:
https://docs.google.com/presentation/d/1a9Ejiayb9lk_RCb6Hr6DLRtFCBPDuEzBdzZp4NKHbo4/edit?usp=sharing

[2018-08-14 16:28] sabrinang commented on #25
Here is the localisation ticket of the tagline: https://github.com/mozilla/mozillafestival.org/issues/923

Link to translations for reference here: https://l10n.mozilla-community.org/langchecker/?website=6&file=other/2018/mozfest.lang&action=translate&show#string2

[2018-08-14 23:10] makikoumezawa commented on #73
Here is the revised version for @zee-moz based on our meeting we had this afternoon:
https://docs.google.com/presentation/d/1a9Ejiayb9lk_RCb6Hr6DLRtFCBPDuEzBdzZp4NKHbo4/edit?usp=sharing

[2018-08-15 21:03] sabrinang commented on #36
Note: Sabrina to reach out to Tim to coordinate mozilla 20th anniversary video clip

[2018-08-19 01:08] kgiori commented on #7
If there is any budget available to buy Mozilla branded uSD cards, I would be happy to place the order for them, pre-loaded  with a Raspberry Pi image to turn an RPi into a Mozilla Things Gateway (private IoT gateway for your smart home).

[2018-08-20 12:28] marcwalsh commented on #7
Hey @kgiori I'm afraid this isn't something we can cover in the MozFest budget, however if the ET team have the budget for it, we're happy to facilitate it once it arrives at the festival.

[2018-08-21 23:19] sabrinang commented on #27
Revised this palette (cool tone) for 2018. Black and white will be prominent throughout the palette along with the primary tones (tints and shades may be used):
![mozilla-festival-2018_colours](https://user-images.githubusercontent.com/2492510/44433454-27044b80-a55b-11e8-9bb0-88d4bbc2139d.jpg)

From an accessibility standpoint, we would use the lime green as an accent colour but not for any main w

[2018-08-22 19:03] sabrinang commented on #5
We are iterating in gslides here: https://docs.google.com/presentation/d/1WJ5c6LtdXmB4tkcJO0hy94L2ZVROIdYPGyZwEiqei9U/edit?pli=1#slide=id.g4044dbc19d_3_32

[2018-08-23 23:30] taisdesouzalessa commented on #27
Love the fact accessibility is being considered and also seeing examples on how people perceive the colors. I think the mood of MozFest is always energetic and I think the choice of colors above reflects it very well.

[2018-08-29 19:56] gideonthomas commented on #55
@Saallen to review and provide copy by Friday, Sep 7.

[2018-08-29 19:58] Saallen commented on #49
@jcbarajas are you good with title on this banner to be
"Thank you MozFest 2018 Sponsors"

[2018-08-29 20:01] Saallen commented on #37
cc @KevZawacki what are your preferences here?
should the slide follow the same format as last year?
 as seen here https://docs.google.com/presentation/d/1mpZinScsuF8Lnjfik600ZBnjnGuGHWPt60if543o4B0/edit

[2018-08-29 20:25] gideonthomas commented on #54
@Saallen to confirm that we can use content from the Speakers page by Friday, Sep 7.

[2018-08-29 20:27] gideonthomas commented on #62
@Saallen to clarify by Friday, Sep 7, if the content on the cards need to be revised.

[2018-08-29 20:28] gideonthomas commented on #36
@Saallen to assign to someone that will be responsible for content and specifying the order of the content by Friday, Sep 7.

[2018-08-29 20:30] gideonthomas commented on #46
@Saallen to confirm by Friday, Sep 7, that we can use the same content pieces we used for last year.

[2018-08-29 20:34] KevZawacki commented on #37
@Saallen @sabrinang

Yes, please! I love the 2017 slide design!

Note: We will have far more panels, are far few solo talks, this year. As a result, most of the slides will look like [this one](https://docs.google.com/presentation/d/1mpZinScsuF8Lnjfik600ZBnjnGuGHWPt60if543o4B0/edit#slide=id.g292795bfc0_0_0). We'll want to include the panel titles on those slides, too.

@sabrinang, you can find all

[2018-08-29 20:38] gideonthomas commented on #42
Hopefully this should be ready by the third week of September. Tracking issue for the space information is here: https://github.com/mozilla/mozillafestival.org/issues/1068

[2018-08-29 20:40] gideonthomas commented on #41
@Saallen to confirm what the non-space thematic floors are. Are they the same as last year? (e.g. quiet space, internet research hub, unbox, cafe, etc.)

[2018-08-29 22:27] gideonthomas commented on #77
@Saallen to assign to someone who will be responsible for taking a look at this issue and determining copy/assets as well as gathering them and providing them here. @Saallen to provide a deadline for this.

[2018-08-30 22:37] jcbarajas commented on #49
Yep, this is good for the titling.

[2018-09-03 14:15] Saallen commented on #54
Yes confirming you can use content from speakers page @gideonthomas

[2018-09-03 14:31] Saallen commented on #55
@gideonthomas copy below.

Privacy Alert
Please don't photograph people with yellow lanyards

These special lanyards signify that this person does not wish to be captured by the onsite photography and video team.

* If you do not wish to be photographed or recorded on video, please request a yellow lanyard from Registration.
* Stage activity on the 4th floor and in the Walker Space will be capture

[2018-09-03 15:04] Saallen commented on #24
Adding in @zee-moz @marcwalsh for info only at this time

[2018-09-03 15:07] Saallen commented on #22
cc in @zee-moz and @marcwalsh for info only

[2018-09-03 15:08] Saallen commented on #21
cc in @zee-moz and @marcwalsh for info only

[2018-09-03 15:10] Saallen commented on #20
cc in @zee-moz and @marcwalsh for info only

[2018-09-03 15:11] Saallen commented on #19
cc in @zee-moz and @marcwalsh for info only

[2018-09-03 15:11] Saallen commented on #18
cc in @zee-moz and @marcwalsh for info only

[2018-09-03 15:11] Saallen commented on #17
cc in @zee-moz and @marcwalsh for info only

[2018-09-04 18:07] gideonthomas commented on #41
Testing a ping for @Saallen

[2018-09-04 20:36] gideonthomas commented on #56
Localized strings can be found here: https://l10n.mozilla-community.org/langchecker/?locale=all&website=6&file=other/2017/mozfest_design_assets.lang

[2018-09-05 10:54] Saallen commented on #62
For 2018

Versions

    Full festival weekend card
    MozFest House card
    Science fair only card
    Saturday only card
    Sunday only card

Back -
    WiFi: [network name and password]
    Help: Tweet #MozHelp or visit the Info Desk on floors X, X and X.
    Schedule: [schedule shortlink]
    Lunch: From XXXX - 14:00 on floors 0, 4, 7 and 9.
    Coffee: Always hot on Floors 0, 5 and 9.
    C

[2018-09-05 10:55] Saallen commented on #62
Need to connect with other teams to confirm
Connect: what are the best re-directs here
Lunch- need to confirm time
Design team- can decide whats on the front

[2018-09-05 10:57] Saallen commented on #49
Happy for design team to proceed

[2018-09-05 11:03] Saallen commented on #46
Content for boards this year
This booth can include:

    Space Info (Name, Icon, Description) for all 6 Spaces
    Information Symbol
    Participation Guidelines
    Map of Space

On third panel- we would like the blank area to be laid out as a board/info template for wranglers to write info, session details other pieces. Idea is that this panel is for scheduling needs and so should still have l

[2018-09-05 11:04] Saallen commented on #37
Great- happy for design team to proceed

[2018-09-05 11:11] Saallen commented on #36
Assigned @marcwalsh to help w content here. He will update asap

[2018-09-05 11:15] Saallen commented on #41
This collection of banners include:

Mozilla Festival 2018 Branded (Entrance) x2
Data Done Right (Entrance) x2
Floor No. (M-9)
Youth Zone
Privacy & Security
Openness
Decentralization
Digital Inclusion
Web Literacy
Art + Data
Queering MozFest
Quiet Space
Internet research Hub

We would like additional banners but not in the same format- as these will be in rooms or by tables
Dialogues and Debates
G

[2018-09-05 14:20] Saallen commented on #16
Looping in @KGorr to provide content and assitance with this issue

[2018-09-05 15:25] KGorr commented on #16
We're going to keep these general so they are promoting the entire week, not individual events.
Content: MozFest House; dates (feel free to add in anything else regarding general direction of MozFest House design.)

It would be great to have these around the same time the MozFest House website page is updated so that we can share immediately afterwards.

[2018-09-06 03:44] sabrinang commented on #27
An overview of the tints, shades and gradient variations we iterated upon and documented. We will use a warm palette for MozFest House and a cool palette for MozFest Weekend to help distinguish the overarching brand as we explored last year. The thematic spaces will use corresponding colours to assist in wayfinding again. Black and white will be prominent in the design and lime green can accompany

[2018-09-06 03:48] sabrinang commented on #27
Documented in [WIP extended style guide](https://docs.google.com/presentation/d/1Otj7kAwG3EyQd_Ya1K7jigJ0YLRMMiCbuq_L4QCbM1M/edit?usp=sharing) - closing issue.

[2018-09-06 03:48] #27 closed

[2018-09-06 04:14] sabrinang commented on #25
For this flexible modular lockup system, the alignment can be customized for various designs and can work for other languages as well. HI-IN may need further refinement but can be revisited when l10n tagline posters are iterated on (the only application of l10n tagline we used last year). Tagline lockup margins are created and documented along side size usages.

Similarly to last year, we iterated

[2018-09-06 04:15] sabrinang commented on #25
Documented in [WIP extended style guide](https://docs.google.com/presentation/d/1Otj7kAwG3EyQd_Ya1K7jigJ0YLRMMiCbuq_L4QCbM1M/edit?usp=sharing) - closing issue.

[2018-09-06 04:15] #25 closed

[2018-09-06 05:03] sabrinang commented on #28
We will use Mozilla's typeface [Zilla Slab](https://fonts.google.com/specimen/Zilla+Slab) / [Zilla Slab Highlight](https://fonts.google.com/specimen/Zilla+Slab+Highlight) accompanied by a sans serif [Barlow](https://fonts.google.com/specimen/Barlow) / [Barlow Condensed](https://fonts.google.com/specimen/Barlow+Condensed) which is a slightly rounded with many weight options as part of a versatile s

[2018-09-06 05:03] sabrinang commented on #28
Documented in [WIP extended style guide](https://docs.google.com/presentation/d/1Otj7kAwG3EyQd_Ya1K7jigJ0YLRMMiCbuq_L4QCbM1M/edit?usp=sharing) - closing issue.

[2018-09-06 05:03] #28 closed

[2018-09-06 16:10] sabrinang opened #80 "Logo for Firefox Snippet"
Export the MozFest cog logo to be used on the FireFox Snippet (the banner along the bottom when you launch the browser).

[2018-09-06 16:20] sabrinang commented on #80
/cc @marcwalsh for dimensions and deadline

[2018-09-11 06:00] sabrinang commented on #80
@marcwalsh I iterated on some snippet icons and I'd suggest the lime-green/blue and/or purple since they stand out on a small scale and you can review:
<img width="2029" alt="mozilla-festival-2018_snippet-icon_overview 2x" src="https://user-images.githubusercontent.com/2492510/45340525-c8276600-b54b-11e8-9f66-d27021adc885.png">

Please use SVG file if you do not know the dimensions. You can find t

[2018-09-11 06:13] sabrinang commented on #69
@marcwalsh Can you supply a cup template from the printer if it is different this year?

[2018-09-11 16:30] gideonthomas commented on #80
@marcwalsh when would you need this ready by? Does the google drive link that @sabrinang shared have everything you need for the snippet (I assume you're responsible for handling the communication with MoCo re: the snippet)?

[2018-09-13 00:19] sabrinang commented on #5
Our visual direction builds on our theme Data Done Right and the evolving aesthetics of the foundation properties and building upon previous MozFests.
![image](https://user-images.githubusercontent.com/2492510/45459820-fc676780-b6ae-11e8-8418-e8ed36a2275d.png)

We will continue to document our [work-in-progress and ideas in gslides](https://docs.google.com/presentation/d/1WJ5c6LtdXmB4tkcJO0hy94L2Z

[2018-09-13 00:19] #5 closed

[2018-09-13 00:19] sabrinang commented on #29
Our data inspired moodboard informed the shape accents, patterns and textures for this year and it can be paired with familiar gradients from previous years and our colour palette. The extensive documentation exemplifies the various patterns one can make.

Please use the simplified .ai file for community/wrangler use: https://drive.google.com/file/d/1p5MIBGHRqbw07-y2dO9uB32kzZx0N7E4/view?usp=shari

[2018-09-13 00:19] #29 closed

[2018-09-13 00:27] sabrinang commented on #31
We have documented the theme, moodboard, MozFest/House/Tagline lockups, grid, typography, iconography, colour, patterns and textures in the style guide.

Extended style guide for internal/contractor use. We will also document and append finished assets at the end of the slide so it serves as a evolving doc: https://docs.google.com/presentation/d/1Otj7kAwG3EyQd_Ya1K7jigJ0YLRMMiCbuq_L4QCbM1M/edit?us

[2018-09-13 00:27] #31 closed

[2018-09-13 20:49] sabrinang commented on #27
Update: I adjusted the purple (web/print) as it printed and appeared to similar to blue after some applications and made the green (web) slightly more yellow so it differentiated from cyan a bit more.
![image](https://user-images.githubusercontent.com/2492510/45514903-9258cc00-b75b-11e8-8751-c97d8f4e1790.png)

[2018-09-13 20:58] marcwalsh commented on #80
Hey @gideonthomas and @sabrinang!

I'm working with @KGorr on this, but these will work just fine for us. If we need to submit exact sizes I'm happy to do that myself :)

Thanks both 👍

[2018-09-14 00:04] makikoumezawa commented on #73
### **Printing Concept Specifications (Festival Guide 2018)**

![screen shot 2018-09-13 at 3 36 38 pm](https://user-images.githubusercontent.com/41972873/45521271-1ddd5780-b772-11e8-8b06-f7b9fb6c2d2c.png)

I would need some confirmation about paper stock and printing method and would like to stick to a similar format as 2017 Festival Guide. Please feel free to add or adjust for the quote request.

[2018-09-14 00:14] sabrinang commented on #73
@Saallen Please see and review Makiko's comment above for print concept specifications for the festival guide.
@marcwalsh Please let us know if this is enough information you need to get a quote from Aspect Press and if they are also doing the inserts as well or if it is through a separate printer.

/cc @gideonthomas

[2018-09-14 01:52] sabrinang commented on #62
@Saallen Can you please indicate specific back copy for the 5 specific cards?

See last year's example below: 2017 Friday card ID excluded points and 2017 House was different. Also please note the back will not be able to fit the 7 points and the guideline paragraph in one.

<img width="1219" alt="image" src="https://user-images.githubusercontent.com/2492510/45524868-6c482180-b785-11e8-8eff-d059b4

[2018-09-14 02:16] #80 closed

[2018-09-14 02:20] sabrinang commented on #63
@marcwalsh Can the printer make 2-point lanyards with graphics on a flat smooth material? See examples below:
<img width="830" alt="image" src="https://user-images.githubusercontent.com/2492510/45525667-cf878300-b788-11e8-8605-a0512a746889.png">

[2018-09-14 02:23] sabrinang commented on #59
@marcwalsh Can you let me know if StickerMule has a template for these privacy screen stickers? or if they are making themselves then I can prepare some assets for them?

[2018-09-14 02:56] sabrinang commented on #58
@acabunoc I'm working out the sticker system with this year's thematic brand and uniforming the sticker sizes so they can all fit and I thought of an idea of filling out pixels/squares on a 3x3 sticker to match. See below:
<img width="1129" alt="image" src="https://user-images.githubusercontent.com/2492510/45526779-6e15e300-b78d-11e8-99d7-d8325f2f647a.png">

This reminded me of the drawing line ic

[2018-09-14 15:17] abbycabs commented on #58
@sabrinang I love this! Here's the issue from 2016:
https://github.com/MozillaFoundation/plan/issues/839
We normally offer an amazon gift card - I'll check to see if we can do it again.

I've also started talking with @baricks, hang & ashlyn about tying in with the data game they're running all weekend. I haven't had a chance to dive into what they're doing yet, but maybe they'll see a nice connec

[2018-09-14 17:46] Saallen commented on #62
Feedback regarding cards
For me this year the CPG are the most important piece to have on the card.

MozFest house is approved.

Is there a different layout we can work with on the fri/weekend piece?

[2018-09-14 20:23] sabrinang opened #81 "Screen: Dialogue & Debates Youtube Holding Graphic"
### Description:
Create a screen for Youtube before the steam goes live.

Dimensions: 1920x1080 (16:9 ratio)
Format: .png files
Platform: Youtube

### Reference:
Andy from MoCo made these for now...
<img width="926" alt="image" src="https://user-images.githubusercontent.com/2492510/45573310-1032db00-b821-11e8-96eb-cd6eced4b23f.png">

MozFest 2018 - Dialogues and Debates – Saturday
Audience: https:

[2018-09-14 22:20] abbycabs commented on #58
@sabrinang - I found the final sticker instruction poster from 2016!

[sticker-instructions-print(1).pdf](https://github.com/MozillaFoundation/mozfest-design-2018/files/2385055/sticker-instructions-print.1.pdf)

[2018-09-16 20:39] Saallen commented on #77
I pinged the team one more time- If i dont hear from them by Tuesday lets leave them out

[2018-09-16 20:42] Saallen commented on #73
@sabrinang and @makikoumezawa Working on the mozfest house insert and it will contain a list of 23 events. So I imagine it will be content heavy. Who requested the fellowship and awards insert?
I can chase them for an update on content specs.

[2018-09-16 21:08] Saallen commented on #77
Confirmed we will not be promoting individual artists @sabrinang.

[2018-09-16 21:11] Saallen commented on #36
Content doc out-of-date: ~I created a [content document](https://docs.google.com/document/d/1RKDXZuhZIC-ZQlUaaRTpkITQYrsh333IfA3M_iDDyAU/edit#)~

Requesting updates from
- [ ]  @marcwalsh
- [x] @consuelamckenzie

Stephanie Rowe will coordinate this content and update the sheet
- [ ] Confirming all requested content has been added

[2018-09-16 21:15] Saallen commented on #75
linking in @consuelamckenzie can you take this to your next sponsorship meeting.

[2018-09-17 16:58] sabrinang commented on #30
### Experience Alignment Overview

**Related Gaming MozFest Issues:**
Registration Table Area Design & Signs: https://github.com/MozillaFoundation/mozfest-design-2018/issues/44
Table Cloth: https://github.com/MozillaFoundation/mozfest-design-2018/issues/43
Name Card: https://github.com/MozillaFoundation/mozfest-design-2018/issues/58

We can place the gaming table near the youth/accessibility/press

[2018-09-17 17:01] sabrinang commented on #77
Great thanks for confirming. We will not be collecting artist's photos - closing issue.

[2018-09-17 17:01] #77 closed

[2018-09-17 17:14] sabrinang commented on #73
@Saallen The fellowship & award insert is a request here: https://github.com/MozillaFoundation/Design/issues/280#issuecomment-420763584

The design team is responsible for creating it but we want to set the standard for dimensions for any insert included so once ours concept is confirmed we can let them know about dimensions.

[2018-09-17 18:13] consuelamckenzie commented on #75
@Saallen This is already in play for the sponsorship team, they are aware of the following dates and all are we reiterate during every meeting since August 28th.

Asset | Sponsors Assets Must Be Received By
Website | October 8
Printed Festival Guide | September 28
Motion Graphic Video | October 15
Banner | October 1
Screens near stage | October 15
MozFest House Screens | October 8
Guidebook | Sept

[2018-09-17 22:13] Saallen commented on #62
@sabrinang see comment above

[2018-09-17 22:14] Saallen commented on #73
Great- do you need anything from me here now to continue? @sabrinang

[2018-09-17 22:50] gideonthomas commented on #62
@Saallen, @sabrinang is going to try to create a layout that includes the cpg in the friday/weekend cards, however, it will definitely look very cramped with all of that info. Will request your approval for that once it is ready.

@Saallen another point of clarification - none of the design for any of these cards are ready yet. The designs you see above are from last year and are going to change f

[2018-09-17 23:00] gideonthomas commented on #30
@Saallen - could you confirm what kind of physical assets/wayfinding assets we need for each experience? For example, do we need hackable signs for Gaming MozFest, do we need banners for Queering Mozfest, etc.

@Saallen, the discourse between experience folk and us is slowing down production of these assets. Can we design these assets and let them figure out what they want to use - this will allow

[2018-09-18 00:50] sabrinang commented on #64
@mozfesthouse Which events will need individual bands? and how many general/all-purpose wristbands are needed?

@marcwalsh If we are going with https://www.aawristbands.co.uk/?gclid=CM-E94WWk9YCFU-17QodWvYGUw supplier like last year, please use:

- 1" width
- Logo Left of Text
- Using Arial Black text on the Wristband Customiser on aawristbands.co.uk (no custom font option)
- The only design file

[2018-09-18 00:50] sabrinang commented on #64
/cc @gideonthomas

[2018-09-18 00:53] sabrinang commented on #78
Updated to the current zilla slab highlight lockup on crowd image for the og:image thumbnail:
![mozilla-festival_open-graph-thumbnail](https://user-images.githubusercontent.com/2492510/45657586-dc191d80-ba9f-11e8-8ed3-c01563ebb9e4.jpg)

https://drive.google.com/drive/u/1/folders/1qe4TSfRBEDOL8UXVy2Bs5L3mZAeiQFtO

/cc @gideonthomas

[2018-09-18 01:28] sabrinang commented on #67
@marcwalsh @mozfesthouse
If these table cloths are still around can we reuse them? If not the white logo file can be found here for reprint: https://drive.google.com/open?id=1RymLkIpvfeWRCwUNMUu0FR1dxci39zjI

[2018-09-18 02:20] sabrinang commented on #68
@mozfesthouse Do we have a sponsor to display at MozFest House this year? and what would you like to be displayed on the other screens?

[2018-09-18 02:20] sabrinang commented on #68
/cc @gideonthomas

[2018-09-18 09:37] mozfesthouse commented on #64
@sabrinang @marcwalsh
The following need individual ones - can keep colours the same as last year for the ones we did before (viewsource etc) and not worried about the colours of the others if they are suitably different.
Modern Campaign Fundamentals - x60
Public Service & Internet Health - x60
Mozilla (we can use these for MoFo internal meetings/Mozilla staff) - x200 - maybe in black to match the

[2018-09-18 10:48] mozfesthouse commented on #68
@sabrinang  - I have just asked the RSA and I'll come back to you asap

[2018-09-18 11:09] Saallen commented on #62
@gideonthomas
yes weekend and day tickets (apart from science fair) will contain the same info
Science  fair is with out coffee and lunch

[2018-09-18 11:15] Saallen commented on #58
@acabunoc  did the gaming team chat with you about incorporating this into their game?
@sabrinang  I am not a fan of the  Role Stickers as it means heirarchy and we are not about that at mozfest- the reason we have press stickers- is so that the participant understands this is a press person who might use their responses

[2018-09-18 11:35] Saallen commented on #30
@gideonthomas yes-
Lets move without them-  I wil chase but lets go with basic requirements and if they have additional pieces then we see if we have the bandwidth

We should design for
- [ ] Banner
- [ ] Tracked table cloth
- [ ] floor stickers

[2018-09-18 11:54] marcwalsh commented on #69
@sabrinang sorry for the delay. The artwork template is attached.

[8oz-Double-Wall.pdf](https://github.com/MozillaFoundation/mozfest-design-2018/files/2392528/8oz-Double-Wall.pdf)

[2018-09-18 16:43] gideonthomas commented on #30
Thanks @Saallen! @sabrinang, does that work?

[2018-09-18 20:49] sabrinang commented on #16
@KGorr I made a few generic MozFest House social share graphics and some with date information.
Please see redpen: https://redpen.io/p/ye036ba5b0f3edecbf
<img width="988" alt="image" src="https://user-images.githubusercontent.com/2492510/45715336-e80cea00-bb48-11e8-8147-4843659c2ed1.png">

JPGs on google drive: https://drive.google.com/open?id=1rG7uCFeB7A14QDvr7ucM9p3OnhIJiiJE

@zee-moz Do I tag y

[2018-09-18 21:27] gideonthomas commented on #58
@sabrinang, @acabunoc will be the owner of the icebreaker piece so feel free to lean on her for input.

Related to @Saallen's comment above - let's eliminate the role stickers completely.

[2018-09-18 22:05] gideonthomas opened #82 "Slide deck for Science Fair mini net content"
Can we create a simple slide deck (with Mozfest branding) that showcases the Science Fair for Friday? Content will include details about the Science Fair and the presenters at the fair.

Content to be provided by @Saallen and Stephanie Rowe by October 12.

[2018-09-19 14:39] KGorr commented on #16
@sabrinang - These are wonderful! I also shared with Lucie and she thinks they are great too! We appreciate all of your hard work. Feel free to close this when you are ready.

[2018-09-19 17:01] sabrinang commented on #16
Thanks @KGorr - closing issue

[2018-09-19 17:01] #16 closed

[2018-09-19 17:22] gideonthomas commented on #73
Content is ready for this here: https://docs.google.com/document/d/1E7hHGmiqRS9ggZR71TQPNEpdY0BlNfi7IiaQTyO4Abk/edit#.

Couple of important notes about the content:
1. ~Skip the sponsors section for now (or design based on existing sponsors). We're updating the list and the final list to print will be ready by September 28 latest.~
2. The insert content is still TBD I believe. Will update asap.

[2018-09-19 17:43] gideonthomas commented on #63
@marcwalsh to mention if this is possible by Sep 20.

[2018-09-19 17:46] gideonthomas commented on #30
@marcwalsh to mention how many tablecloths we can produce based on cost.

[2018-09-19 18:23] consuelamckenzie commented on #75
@gideonthomas
I hear these dates might change - Can you please confirm the dates you need all assets by?
Thanks!
Consuela

[2018-09-19 18:50] Saallen commented on #75
Confirming on the 19/9/18 we have the following sponsorship partners and committed to branding these assets.

@consuelamckenzie to confirm what exactly "branded lounge space" means + can this be something the sponsor does on their own ?? And what does ""Reg Area Sponsor sign"" mean?
@consuelamckenzie to confirm that the design assets listed below is accurate.

cc @sabrinang  and @marcwalsh for inf

[2018-09-19 19:05] sabrinang commented on #73
@makikoumezawa

After chatting with @marcwalsh the print specifications (stock, format, size, method) are fine and he mentioned a few things to note:
- **Cover:** It should be prioritized, delivered first since the custom pocket and gluing process may take more time
- **MozFest House insert:** Since this content comes late, it can be done in a different paper stock than the guide (lighter) so it c

[2018-09-19 19:20] gideonthomas commented on #73
Location information that will be needed for the map will be provided latest by Tuesday Sep 25.

[2018-09-19 19:25] sabrinang commented on #43
After chatting with @marcwalsh @gideonthomas today, table cloths are a bit pricey (MozFest House style) but we will look at PixArt textiles https://www.pixartprinting.co.uk/printing-flags-textiles/ for the registration area. We would need 6:

<img width="583" alt="image" src="https://user-images.githubusercontent.com/2492510/45776115-c40fde00-bc06-11e8-9983-38dc40516840.png">

@marcwalsh to provid

[2018-09-19 19:25] sabrinang commented on #44
Confirmed with @marcwalsh we can have floor signage from PixArt https://www.pixartprinting.co.uk/displays/point-of-sale-displays/floor-display/

[2018-09-19 19:33] sabrinang commented on #66
After chatting with @marcwalsh @gideonthomas, we will be going with a large folding screen style https://www.pixartprinting.co.uk/wide-format/printing-flat-bed-rigid-materials/folding-screen/ and small 3 side totem https://www.pixartprinting.co.uk/displays/point-of-sale-displays/totem-3/

@marcwalsh Since the folding screen is custom, can you provide the widthxheight and fold layout to generate a

[2018-09-19 19:38] sabrinang commented on #35
After chatting with Marc and @gideonthomas, I got more stage details:

- Print deadline is October 1.
- New dimensions are 6m x 3m (WxH)

@marcwalsh What bleeds does the printer need for the stage? If there is a specific template output please let me know

[2018-09-19 19:42] gideonthomas commented on #30
@sabrinang, let's create those three assets for the experiences (Banner, table cloth, and floor stickers) whether they use them or not. If they haven't provided any other design requirements, let's just move with these three.

We don't need hackable signs for the three experiences.

Just a quick note - it is unlikely that Gaming Mozfest will be at the location you show in the map above. Location i

[2018-09-19 20:13] gideonthomas commented on #49
@marcwalsh what are our options to make the banner bigger?

[2018-09-19 20:27] zee-moz commented on #78
@sabrinang @gideonthomas this looks great-- let's get it out there. Who can implement?

[2018-09-19 20:30] zee-moz commented on #24
@Saallen we are using "Data Done Right" here as the festival tagline, is that correct?  Do we use "Where Web Meets World" anywhere?

cc: @caltrider

@sabrinang pls go ahead with the confirmed tagline.

[2018-09-19 20:33] zee-moz commented on #22
@sabrinang  go ahead with this one, should be super quick!

[2018-09-19 20:35] gideonthomas commented on #78
I can assign it to dev. Filed: https://github.com/mozilla/mozillafestival.org/issues/1110

[2018-09-19 20:35] #78 closed

[2018-09-19 20:43] zee-moz commented on #20
let's not do this one right now-- will reopen if we have time.

[2018-09-19 20:43] #20 closed

[2018-09-19 20:47] zee-moz commented on #19
@KevZawacki how would you like to promote speakers on social, since there are more panels this year, and less individual speakers?

[2018-09-19 20:52] zee-moz commented on #18
@sabrinang Let's make the Festival text bigger, and use the stats from this page.
https://mozillafestival.org/about

[2018-09-19 20:58] zee-moz commented on #18
let's wait on this, will do if time. we have the theme featured elsewhere

[2018-09-19 20:59] zee-moz commented on #15
let's wait on this for now

[2018-09-19 21:01] KevZawacki commented on #19
@zee-moz Good question! How about:

-- For individual talks, let's put the speaker's name + headshot on the profile card

-- For panels, let's put the panel name + speakers headshots on the card (no need to include their names; I'll include them in the tweet copy)

What do you think?

[2018-09-19 21:03] zee-moz commented on #13
@caltrider can you come up with a fun tagline for the Friday party and science fair?

[2018-09-19 21:05] zee-moz commented on #11
@caltrider  let's create copy for these countdowns by October 5.

[2018-09-19 21:05] zee-moz commented on #12
@caltrider let's create copy for these countdowns by October 5.

[2018-09-19 21:19] zee-moz commented on #21
@sabrinang let's use these text templates for a variety of posts.  Some suggestions:

- MozFest Pro Tips
- Top x Reasons to...  (we actually have a bunch of them here to use right away: https://mozillafestival.org/why-come-to-mozfest)
- Local Attractions
- General Quotes
- Overheard at MozFest
- Great MozFest Moments

cc: @caltrider @Sydette thoughts?

[2018-09-20 14:28] gideonthomas commented on #75
@sabrinang would you be able to edit the comment above with the updated list of assets (and qty) you will be creating?

[2018-09-20 14:45] consuelamckenzie commented on #36
@Saallen added content yesterday.

[2018-09-20 14:51] marcwalsh commented on #36
@gideonthomas @Saallen I'm awaiting confirmation from Ravensbourne about the SSID for the network at Rave.

[2018-09-20 16:46] jcbarajas commented on #49
I can't recall last year's size but it seemed too small for the space. It
would be great to have it 3 feet wide (.9meters) by 8 feet tall
(2.4meters). Basically, taller than most people.

On Wed, Sep 19, 2018 at 1:13 PM, Gideon Thomas <notifications@github.com>
wrote:

--
*Juan Barajas*
Director of Partnerships

*Mozilla Foundation*

*San Francisco Office*

*Mobile:* +1(415) 297-7309
*www.mozillaf

[2018-09-20 17:53] sabrinang opened #83 "Sponsorship: Floor Displays"
**Description:**
We would need some floor displays for the Presenting Festival Partner at MozFest. This can be the same design framed with MozFest 2018 branding and Presenting Festival Partner text with sponsor logo.

**Quantity:** 8 Total
- 2 for Food and Bar Area
- 2 for Registration Table Area
- 2 for Lounge Space Area
- 2 more just in case they are needed.

**Format:**
https://www.pixartprinti

[2018-09-20 18:01] sabrinang opened #84 "Sponsorship: Posters"
**Description:**
We would need some posters for the Presenting Festival Partner at MozFest. This can be the same design framed with MozFest 2018 branding and Presenting Festival Partner text with sponsor logo.

**Quantity:** 6 Total
- 4 behind Registration Table Area near entrance (welcome) sign
- 2 more just in case they are needed

**Format:**
On a rigid media - Cardboard or Foamex
https://www.p

[2018-09-20 18:13] sabrinang opened #85 "Sponsorship: Step & Repeat"
**Description:**
The Presenting Festival Partner will appear on a step & repeat at MozFest. The sponsor logo will appear designed with MozFest 2018 tagline and branding

**Quantity:**
1 near the entrance area

**Format:**
TBD - Dimensions and format needed.

We need to determine if this is rigid media https://www.pixartprinting.co.uk/wide-format/printing-flat-bed-rigid-materials/folding-screen/ or

[2018-09-20 18:19] sabrinang commented on #60
This issue is a duplicate of https://github.com/MozillaFoundation/mozfest-design-2018/issues/48 - Please refer to the other one and closing this one.

[2018-09-20 18:21] sabrinang commented on #48
**Sponsorship Update:**

We have a Presenting Festival Partner at MozFest this year and we will print x2 floor stickers of their logo. These will be placed in front of elevators and designed with _Presenting Festival Partner at MozFest_ for context.

[2018-09-20 18:30] sabrinang commented on #61
**Sponsorship Update:**

We have a Presenting Festival Partner at MozFest this year and we will need to incorporate their logo. @Saallen has suggested to print the logo on the sleeve of the t-shirt, @marcwalsh can this be done? If so, what are the dimensions of the printable area of the sleeve?

[2018-09-20 18:32] sabrinang commented on #61
/cc @gideonthomas

[2018-09-20 18:37] sabrinang commented on #36
**Sponsorship Update:**

We'll need to include a sponsorship slide this year for the Presenting festival partner, Science Fair partner, Closing party partner and Youth Zone partner. It will display their logo along their partner role at MozFest this year.

[2018-09-20 19:03] sabrinang commented on #75
@gideonthomas I updated my original comment for this issue and filed new issues for the presenting festival partner assets.

[2018-09-20 19:08] sabrinang commented on #85
@Saallen @marcwalsh Can you determine what is the appropriate size our sponsor expects and which template from PixArt I would be using?

/cc @gideonthomas

[2018-09-20 19:19] sabrinang commented on #83
@marcwalsh Looping you in that we will be printing more floor displays for sponsorship

/cc @gideonthomas

[2018-09-20 20:10] gideonthomas commented on #62
@sabrinang here's the info that we condensed so that the CPG guidelines can be added. I think it still might be easier to have them be tiles as opposed to rows on the card so that there is enough space for the CPG, but it's totally up to your discretion.

### Weekend card back

**WiFi**
Network - MozFest2018
Password - Mozfest18

**Help & Safety**
Visit #MozHelp on level 0 and 4
Tweet #MozHelp
Ema

[2018-09-21 16:28] Saallen commented on #83
Juan is happy with these for the presenting sponsor

[2018-09-21 16:30] Saallen commented on #48
Juan confirmed this for the presenting partner

[2018-09-21 17:10] marcwalsh commented on #74
@sabrinang - the delvierables have slightly changed this year as we are no longer having a native app on iOS / Android.

### 1. Guidebook 'Space' Logo
_Shown in the 'Guidebook' mobile app when users search for the guide._
- 1024 x 1024 px (reccommended)

### 2. Theme Colours
_The UI (hex) colors of the guide itself, which are required for:_
- Base (Used for highlights, eg selected date on calendar

[2018-09-21 20:04] makikoumezawa commented on #73
Here is a rough pagination draft including all the copy and content.

https://docs.google.com/presentation/d/1bvVxf2aCBNS8CdUjWk-cYxwxdnEKnAe1GxssPhn0G7A/edit?usp=sharing

@zee-moz, I would like to get some feedback about the order set up and page pacing. Please review and add comments to the doc.

/cc @gideonthomas, @sabrinang, @Saallen

[2018-09-21 20:07] makikoumezawa commented on #73
@marcwalsh please review this Map Folding Instructions

![screen shot 2018-09-21 at 1 00 38 pm](https://user-images.githubusercontent.com/41972873/45903527-de7cbf80-bd9e-11e8-86e4-e39556965dd4.png)

Use an A3 (297 x 420 mm) paper size sectioned into an 8-page fold.

1. Start with an accordion fold with the front cover and back cover panel. Each panel will be 105 mm wide sectioned to 4 panels.

2.

[2018-09-21 21:09] abbycabs commented on #58
I've read through the Game Design doc from the gaming team (thanks for sending it over @baricks!).
It was hard to find a nice way to incorporate since the games have different goals. I thought of one option: players are assigned to be a tracker or user based on how they colour in the squares on the icebreaker. This way, players are entered into both games when they pick up an icebreaker sticker. T

[2018-09-22 05:43] consuelamckenzie commented on #75
@gideonthomas @Saallen @sabrinang

After my conversation and emails with the sponsorship team, they would like you to design the assets and send over to them for approval.

For further clarity on the items above here is an updated [sponsor benefits spreadsheet ](https://docs.google.com/spreadsheets/d/1Ws27D7OjGuoOG9AHbmR3InYFBuRgntJOu-y3ERQxEL0/edit#gid=0) with descriptions for each item. This is

[2018-09-24 16:34] sabrinang commented on #35
@marcwalsh informed me stage vendors want a bleed of 100mm around the edges

[2018-09-24 18:39] sabrinang commented on #68
@gideonthomas This would be the location of sponsorship if we have it at MozFest House

[2018-09-24 18:39] sabrinang commented on #72
@mozfesthouse Please use warm palette (orange, yellow and pinks from [style guide](https://docs.google.com/presentation/d/1o7jM58fhQEcLH-Y6JuUq2XqoJ5vCqXxEvdnGCT1JYpc/edit#slide=id.g40cb16b354_0_49)) for lighting and furniture.

They can be similar to last year:

![image](https://user-images.githubusercontent.com/2492510/45970593-cbaafa80-bfeb-11e8-8e59-e37536e0388a.png)
![image](https://user-imag

[2018-09-24 18:41] sabrinang commented on #70
**Window Branding Concepts**
I have used last years file dimensions and generated concepts for windows that you can pass on to your contractor to export. PDF on gdrive here: https://drive.google.com/open?id=1sIhXcC_2TYfApeteX9g3J4TegZLIVXD2

AI file here: https://drive.google.com/open?id=1s5KYSoGznyyoMqUQyGklqWW_XHqG9Wx0

Please download fonts and other reference from the style guide: https://docs

[2018-09-24 18:41] sabrinang commented on #71
**Backdrop, Podium, Panel & Doors Concept**
I have used last years file dimensions and generated concepts for environmental branding that you can pass on to your contractor to export. PDF on gdrive here: https://drive.google.com/open?id=1sCM7Gp8dkbypc-gaERyA0T-MFY8hPzBj

I don't have the standing schedule file but your contractor can use the textures and type to create one. AI file here: https://d

[2018-09-24 18:43] mozfesthouse commented on #72
thanks @sabrinang - if I was to pick x2 colours for the cushions (and do a few black) - which pantone colours would you suggest?

[2018-09-24 18:44] sabrinang commented on #66
**Totem Design**
I used the lockup, logo and wordmark each on a separate side for variety:
<img width="737" alt="image" src="https://user-images.githubusercontent.com/2492510/45971257-77a11580-bfed-11e8-863d-68dbbf3fb30a.png">

PDF on gdrive here: https://drive.google.com/file/d/1sx4HXwSQTp5dqVM9M8vTVNjulTPFGEkM/view

@mozfesthouse Please review

@marcwalsh & @mozfesthouse Please confirm if we are

[2018-09-24 18:48] sabrinang commented on #67
@marcwalsh @mozfesthouse
Have these table cloths been found or sent to print?

/cc @Saallen @gideonthomas

[2018-09-24 18:55] mozfesthouse commented on #68
@sabrinang @gideonthomas - hi, we have the screen for the Saturday night only. It is x2 separate screens so we need x3 powerpoint files of either one design or x3. If there is no sponsor we could have the central one with "Welcome" and the x2 either side with the designs.

[2018-09-24 19:32] gideonthomas commented on #73
Hi @makikoumezawa, on page 38 - the last page facing the back cover, we want to include the Presenting festival partner.

Would you be able to add that to that page on its own?

So that page would simply have the following content:

---

Presenting Festival Partner
<logo: https://drive.google.com/open?id=0B0_l7CrAmxgBVWQ2OHpzZkhZTE1HT1JlbFNwV2NOczkzaWJn>

---

Let me know if you have any questions

[2018-09-24 21:12] sabrinang commented on #64
@mozfesthouse Please review band colour and design

- Mozilla internal usage band is black using white Mozilla logo
- MozFest House generic bands are either neon orange or neon pink (in case you need two unique ones)
- MisInfocon, Open News, View Source are the same
- Note: The #causeascene bands are different (red and purple) but if they need to be more similar it can be red and warm red but they

[2018-09-24 21:38] gideonthomas commented on #64
@marcwalsh do the guidelines provided above work?

[2018-09-24 21:39] gideonthomas commented on #68
The sponsor would be our Presenting Festival Partner - Private Internet Access
Their logo can be found here: https://drive.google.com/open?id=1-qpa-oANqW6xFgtitQc2VZyUlSTpRihe
Link: privateinternetaccess.com

The screen can probably say something like:
Presenting Festival Partner
\<logo\>
\<link\>

[2018-09-24 21:47] sabrinang commented on #72
@mozfesthouse Last year's colours were nice too if that is what's available. If you want to match the orange and pink in the style guide it would be Pantone 137 U + Pantone 232 U but I don't know how that will translate to fabric instead of uncoated paper but as long as it is in the spectrum of pink and orange it will tie in just fine 👍 Nice, black cushions would be a great accent too!
<img width=

[2018-09-25 00:33] sabrinang commented on #65
@mozfesthouse I designed two styles of customizable letter size (8.5"x11") signs for MozFest House events to be used in frames by doors and free standing signs at RSA. The border is thicker as the metal frame covers ~1cm of it.

I made it a template on google slides so you can type in the name of the event and print it on site similarly to last year. Gslide template here: https://docs.google.com/p

[2018-09-25 02:21] gideonthomas commented on #49
@marcwalsh are we able to do 2 of these, each one being 8ft tall by 3ft wide? If not, what large sizes can we do?

[2018-09-25 08:43] mozfesthouse commented on #72
@sabrinang this is great :)

[2018-09-25 09:46] marcwalsh commented on #64
@gideonthomas @sabrinang - these look good to me. I need to check if they are able to print white. If not are we okay to go with black for the standard MozFest House bands?

[2018-09-25 12:49] gideonthomas commented on #75
### Sponsor List

Name | Image | Partnership Type | Link |
--- | --- | --- | --- |
Sticker Mule | [Image](https://www.stickermule.com/assets/images/stores/sticker_mule/press/downloads/logo-colored/Sticker-Mule-logo-SVG-e614db0061.zip) | Closing Party Partner | [Link](https://mule.to/mozfest-2018) |
Private Internet Access | [Image](https://drive.google.com/open?id=1-qpa-oANqW6xFgtitQc2VZyUlSTpRihe

[2018-09-25 15:50] marcwalsh commented on #67
@sabrinang @gideonthomas  We're getting these into the office next week. If we're using the same as last year, I can reorder the same again if we were happy with those.

Either way, I think you can stand down on this and I'll order if required.

Cheers!

[2018-09-25 16:39] marcwalsh commented on #73
Hi @makikoumezawa - great to be working with you! :) @sabrinang @gideonthomas - FYI as well!

I've requested the deadlines for the festival guide booklet and maps for tomorrow so will update you once I have those.

For the MozFest House, Facilitators and Fellowships / Awards - as we're getting tighter on deadlines and I'd rather Aspect focus on the the critical elements (Name Tags, Guide Booklet a

[2018-09-25 16:43] marcwalsh commented on #66
@sabrinang we won't need the Totem XLs this year, I may order a couple of extra of these just incase.

[2018-09-25 16:52] sabrinang commented on #66
@marcwalsh Can you confirm that we do not need a [ folding screen](https://www.pixartprinting.co.uk/wide-format/printing-flat-bed-rigid-materials/folding-screen/) design for MozFest House?

[2018-09-25 16:55] sabrinang commented on #64
@marcwalsh If black will not work can we go with silver? (a bit more distinct than white)
<img width="141" alt="image" src="https://user-images.githubusercontent.com/2492510/46029757-22c2d500-c0a9-11e8-9b32-a4cf10b3b8cc.png">

[2018-09-25 16:58] marcwalsh commented on #85
@sabrinang @gideonthomas as it's a larger piece we'll have to get something with supports. Ideally using a [Pop Display from Pixart](https://www.pixartprinting.co.uk/displays/exhibition-banners/pop-up-display/) would work as it has a frame which we can keep and just replace the print each year.

@Saallen @consuelamckenzie @jcbarajas - Please can you review this, ideally I'd add some uplights in fr

[2018-09-25 17:04] marcwalsh commented on #66
@sabrinang sorry, misread your comment. We will do the folding screen instead.

[Template available here](https://github.com/MozillaFoundation/mozfest-design-2018/files/2416253/pixartprinting-template-large-format-folding-screen-2.pdf)

[2018-09-25 17:05] marcwalsh commented on #64
@sabrinang sorry I mean for the orange and pink wristbands - we probably will not be able to print using white ink. Can these be printed in black instead?

[2018-09-25 17:20] sabrinang commented on #64
@marcwalsh Yes black ink for orange and pink wristbands will work fine 👍

[2018-09-25 17:29] marcwalsh commented on #49
@gideonthomas @jcbarajas

If we need specific sizes - roller banners are unable to go to 8ft tall ([tallest I can get is 7ft 1in high](https://www.pixartprinting.co.uk/displays/banner-stands/expobanner-outdoorxl/)).

We can use [10mm thick cardboard](https://www.pixartprinting.co.uk/wide-format/printing-flat-bed-rigid-materials/cardboard/) with 2x [panel stands](https://www.pixartprinting.co.uk/wi

[2018-09-25 17:37] marcwalsh commented on #30
@sabrinang  We won't be having Gaming MozFest in the registration area.  If possible can we make these generic to reuse?

For experiences I spoke to @Saallen and we should be treating them the same as a space but without the totem.

[2018-09-25 17:58] marcwalsh commented on #43
@sabrinang We had a discussion today about placement of tables in the registration area.

**We require table clothes for:**
4x Registration
2x Press and Youth
1x Swag
1x Name Tag

I'm waiting for the size of the tables, I've pinged Ravensbourne and requested them ASAP.

[2018-09-25 18:01] marcwalsh commented on #63
@sabrinang @gideonthomas - I think budget wise we should stick to plain lanyards again this year as we have a fair amount of additional sponsorship requirements.

I can get these in any Pantone swatch, let me know what you would colour you would like.

[2018-09-25 18:07] sabrinang commented on #41
@Saallen From today's discussion, we would need a type of MozFest Café floor banner like last year. I don't know if sponsors expect "Lounge" or if there are other Lounge pieces we would need to coordinate with. After some consideration, Lounge may be less misleading than Café (which may have more restaurant associations than a hang out space?) for where it was last year:
![image](https://user-imag

[2018-09-25 18:17] jcbarajas commented on #85
It's a great size, and I like the frame. I'd agree on the uplights since
we'll want the photos to look good so that people share them with our
hashtag.

On Tue, Sep 25, 2018 at 10:04 AM, Marc Walsh <notifications@github.com>
wrote:

--
*Juan Barajas*
Director of Partnerships

*Mozilla Foundation*

*San Francisco Office*

*Mobile:* +1(415) 297-7309
*www.mozillafoundation.org <http://www.mozillafoun

[2018-09-25 18:18] jcbarajas commented on #49
That's fine. I think this is taller than last year's signs, which is what I
wanted.

On Tue, Sep 25, 2018 at 10:30 AM, Marc Walsh <notifications@github.com>
wrote:

--
*Juan Barajas*
Director of Partnerships

*Mozilla Foundation*

*San Francisco Office*

*Mobile:* +1(415) 297-7309
*www.mozillafoundation.org <http://www.mozillafoundation.org>*

[2018-09-25 19:36] Saallen commented on #41
Happy to change the name to Lounge.

Would also need to add the sponsors name so suggesting...
Brought to you by our Presenting Festival Partner, Private Internet Access

[2018-09-25 19:39] Saallen commented on #84
Requesting we print 12

4 x rego
plus posters for different events and MozFest house

[2018-09-25 19:48] Saallen commented on #83
requesting bigger print numbers

5 x food areas for lunch
2 x party bars
2 x lounge

[2018-09-25 20:00] Saallen commented on #36
@marcwalsh any updates for us here?

[2018-09-25 20:14] Saallen commented on #75
Hey @sabrinang and @gideonthomas I updated where the science fair partner and the sunday party partner posters will be located- please note this is not in the lobby as origionally thought

[2018-09-25 21:10] zee-moz commented on #73
@gideonthomas @sabrinang @makikoumezawa

I've added the following comments/changes to the festival content doc, and discussed with Sabrina and Makiko:

- A couple of lines explaining wranglers in the Explore MozFest Spaces section, to provide context for the people you see on the space pages. We also discussed adding some copy to those pages, small, next to the page number: Wranglers & Spaces or s

[2018-09-25 21:24] gideonthomas commented on #84
@Saallen just confirming based on what we discussed...we only need 4 foamex posters with just the presenting partner to put behind the registration table right? The other "posters" will be on regular paper and printed at Ravensbourne?

[2018-09-25 21:28] gideonthomas commented on #75
## FINAL ASSET LIST

### Sponsor List

Name | Image | Partnership Type | Link |
--- | --- | --- | --- |
Sticker Mule | [Image](https://www.stickermule.com/assets/images/stores/sticker_mule/press/downloads/logo-colored/Sticker-Mule-logo-SVG-e614db0061.zip) | Closing Party Partner | [Link](https://mule.to/mozfest-2018) |
Private Internet Access | [Image](https://drive.google.com/open?id=1-qpa-oANqW6

[2018-09-25 21:37] gideonthomas commented on #75
@Saallen can you review copy template for the following signs:

### Event signs (Science Fair, MozFest House, etc.)

\<EVENT NAME\>
Sponsored by
\<PARTNER LOGO and NAME\>
\<PARTNERSHIP TYPE\>

### Food/Bar signs

Food & Drink
Sponsored by
\<PARTNER LOGO and NAME\>
\<PARTNERSHIP TYPE\>

Also, Sabrina mentioned that we can't really put stuff up on walls at RSA, so I changed the MozFest House event s

[2018-09-25 23:24] sabrinang commented on #69
@mozfesthouse I designed a coffee cup that features the logo in the centre and mozilla festival house repeats along the bottom black border.

Redpen here: https://redpen.io/p/vr6d2faaae3725217e
Gdrive file here: https://drive.google.com/open?id=1rgzuO7ljsuHYgymZ7cXVRLbqJZWcl7-q
<img width="1060" alt="image" src="https://user-images.githubusercontent.com/2492510/46048504-8ddace80-c0de-11e8-8468-730

[2018-09-26 00:19] sabrinang commented on #68
@mozfesthouse I've designed it similarly to last year with a welcome, lockup and sponsor screen. Please review designs.

@gideonthomas For last year's slide we had "sponsored by" so I thought to include "sponsored by our Presenting Festival Partner" for this year with logo + url. Please review does this work for sponsors?

redpen here: https://redpen.io/p/kn2a6fd97d70c7319c
gdrive JPGs here: https

[2018-09-26 00:45] gideonthomas commented on #68
That looks fine to me @sabrinang (one small nit - the title doesn't contrast well with the background so might not be great for accessibility, but not critical to fix at all)!

Tagging @Saallen for approval of the sponsor screen above.

[2018-09-26 10:54] Saallen commented on #58
to confirm- we will reuse press stickers we have in the Moz London office

[2018-09-26 11:38] Saallen commented on #68
looks great to me

[2018-09-26 12:00] Saallen commented on #84
Yes that is correct

[2018-09-26 15:25] mozfesthouse commented on #69
@sabrinang these look great to me @marcwalsh assuming they are the same size as last year?

[2018-09-26 15:34] baricks commented on #58
@acabunoc Thanks for taking a look at our doc! I agree that it might be difficult to integrate the games since they have different goals. I like the idea you mentioned, but I do want to make sure people aren't signed up for the game automatically, since this will be entirely an opt-in game.

[2018-09-26 15:49] abbycabs commented on #58
Thanks @baricks - that makes sense!

@sabrinang let's move forward with this as a separate game

[2018-09-26 20:00] Saallen commented on #75
Looks great

[2018-09-26 20:00] sabrinang commented on #66
**Folding Screen Design**
I iterated on the folding screen design and having variations of the logo or lockup in the centre panel. If this folding screen is behind the table again having just the logo might be nice if it is surrounded by the lockups elsewhere etc.

@mozfesthouse Please review which folding screen design logo you prefer?

redpen here: https://redpen.io/p/zqd51853a81db0640e
PDFs on

[2018-09-26 20:01] Saallen commented on #75
@gideonthomas your step and repeat is wrong- its only the presenting partner here- not Sf

[2018-09-26 20:03] Saallen commented on #62
For help and safetly
amend
Info desk to  #MozHelp -  0, 4
As we have info desk on all floors and on the main location piece we call it MozHelp

[2018-09-26 20:20] Saallen commented on #62
@gideonthomas I amended within your comment.

email address and wifi coming tomorrow

@sabrina we need to be consistant about using floors versus levels. Ill let you decide

[2018-09-26 20:21] marcwalsh commented on #59
@sabrinang - I will send them the style guide and see if they need any more input. Is that okay?

[2018-09-26 20:22] Saallen commented on #47
The production team will make a small a4 page with what we have in that box. No need for designed posters

[2018-09-26 20:24] sabrinang commented on #59
Sounds great. You can link their proof here if they need input 👍

[2018-09-26 21:35] marcwalsh commented on #36
@gideonthomas sorry this was due from Ravensbourne today. They are meeting with the IT dept there tomorrow (Thurs) so we should have it confirmed by then.

[2018-09-26 21:47] gideonthomas commented on #75
Oh nice catch, thanks!

[2018-09-26 23:04] gideonthomas commented on #42
@makikoumezawa the location info copied from mozilla/mozillafestival.org#1068 is:

**Spaces**
* Youth zone - 2
* Web Literacy - Library
* Decentralisation - level 6
* Openness- 7
* Digital Inclusion - level 8
* Privacy and Security - level 9

**Experiences**
Art+Data - M (or mezzanine)
Tracked - 5
Queering MozFest - 6

**Extra areas**- (that dont have to be on the map but might have high footfall)

[2018-09-27 01:26] gideonthomas commented on #84
Sponsorship Update: based on https://github.com/MozillaFoundation/mozfest-design-2018/issues/75#issuecomment-424507958

x4 foamex behind Registration Table Area near entrance (welcome) sign with the Presenting Festival Partner

[2018-09-27 01:29] gideonthomas commented on #83
Sponsorship Update: https://github.com/MozillaFoundation/mozfest-design-2018/issues/75#issuecomment-424507958

- x10 floor displays with just the presenting festival partner
- x5 floor displays with the title MozFest House and the presenting festival partner

[2018-09-27 01:31] gideonthomas commented on #49
Sponsorship Update: https://github.com/MozillaFoundation/mozfest-design-2018/issues/75#issuecomment-424507958

x2 of the size Marc links to above including all the sponsors with the title "Thank you MozFest 2018 Sponsors"

[2018-09-27 01:33] gideonthomas commented on #85
Sponsorship Update: https://github.com/MozillaFoundation/mozfest-design-2018/issues/75#issuecomment-424507958

x1 of the size Marc mentions above with the presenting festival partner logo and MozFest, and Mozilla logos as well (and whatever you initially had in mind)

[2018-09-27 01:35] gideonthomas commented on #48
Sponsorship Update: https://github.com/MozillaFoundation/mozfest-design-2018/issues/75#issuecomment-424507958

- x2 floor stickers of the presenting festival partner
- x1 floor sticker of the closing party partner

[2018-09-27 01:52] gideonthomas opened #86 "Sponsorship: Event Entrance and Food/Bar Posters"
**Description:**
We would need posters for each event and the food/bar station to post outside their entrance (and possibly inside the event) that mentions the sponsors for that event or the food station. It can be the same design framed with MozFest 2018 branding and depending on the event - the corresponding sponsor logo(s).

The copy if it is an event will be:
EVENT NAME
Sponsored by
PARTNER LO

[2018-09-27 14:37] Saallen opened #87 "Location numbers-"
As per @mmmavis locations for guidebook the following "studios/rooms/locations for sessions are listed

Level 1 - 101
Level 1 - 102
Level 2 - 205
Level 2 - 206
Level 2 - 207
Level 2 - 208
Level 2 - 209
Level 2 - 210
Level 2 - 211
Level 2 - 212
Level 2 - 213
Level 4 - Big Space
Level 4 - Study Zone
Level 6 - 601
Level 6 - 602
Level 6 - 603
Level 6 - 604
Level 6 - 605
Level 6 - 606
Level 6 - 607
Lev

[2018-09-27 15:12] marcwalsh commented on #69
@mozfesthouse yes they are 8oz :)

[2018-09-27 17:32] mmmavis commented on #87
@Saallen is `Level 2 - 203` in this year's list?

[2018-09-27 17:45] mozfesthouse commented on #72
@sabrinang please can I have the MF House logos as .eps and .pdf files?
Thanks!

[2018-09-27 18:15] mozfesthouse commented on #70
@sabrinang this is with the signage company for an approval for your review - thanks!

[2018-09-27 20:05] gideonthomas commented on #70
@mozfesthouse would you be able to clarify your comment above? Who is going to approve this design (slash when will it be approved by)? Once it's approved, is there anything else @sabrinang needs to do?

[2018-09-27 20:34] gideonthomas opened #88 "MoFo Program/MozFest Vinyl Banner"
We want to create a vinyl banner to showcase MoFo programs at the festival.

Design Deadline - (@xmatthewx can you edit this comment with this info...latest I believe is Sep 30).

@marcwalsh would you be able to let us know if there is budget for this, and if so, what dimensions can we print?

[2018-09-27 21:21] xmatthewx commented on #88
**Cost**: The cost for this and any MoFo program stuff shouldn't come from MozFest unless it's nominal. This would be the Awards/Fellowship team.

[2018-09-27 21:24] xmatthewx commented on #88
@taisdesouzalessa

**timeline**: Vinyl might have very quick turnaround requirement. Or it might be too late. Quick is feasible since design should be simple. But...

**Orientation**: We'll need to confirm with Melissa that vertical is a good idea, and whether they plan to purchase a stand. (Also, they might look to us for guidance on that, so quick research would be necessary.) Otherwise, horizon

[2018-09-27 22:14] taisdesouzalessa commented on #88
@xmatthewx and @kristinashu  - I quickly chatted with Melissa via Slack to confirm what I heard from the meeting we had yesterday and here are their needs for this item:

1. Vinyl roll-up banner with a stand would be good for them so they can carry it to other events as well (and also share it with other teams as needed in the future). Based on the banner layout (it could be the same), they would

[2018-09-28 01:19] gideonthomas commented on #88
@taisdesouzalessa like one of these? https://www.pixartprinting.co.uk/displays/roller-banners/

[2018-09-28 01:23] taisdesouzalessa commented on #88
@gideonthomas I think so. It does stand up by itself right? Like, it comes with the structure and you can transport and assemble it? I can double check with Melissa tomorrow but in my understanding this is what she meant.

[2018-09-28 08:36] mozfesthouse commented on #70
@sabrinang @gideonthomas  -hi sorry for pack of Clarity - the designs Sabrina has done are with our signage printer  - before they print anything, they always send back a final proof for @sabrinang's review, so I'll do this next week when I receive them. This will be firstly the window vinyls and then later the wayfinding for the Saturday night party.

[2018-09-28 11:19] Saallen commented on #87
Yes please

[2018-09-28 11:31] marcwalsh commented on #73
Hi @sabrinang @makikoumezawa @gideonthomas deadlines listed for all elements below (dates listed are EOP UK Time):

I've pushed as much as possible, if I can get the cover before that date, I might be able to push the internal content by a day.

- Festival Guide - 11th October
- Folding Map - 18th October
- MozFest House Insert - 11th October
- Facilitators Insert - 18th October (19th at a push)
-

[2018-09-28 13:07] marcwalsh commented on #88
@taisdesouzalessa @gideonthomas @xmatthewx

If it's just a standard roller banner, that stands by itself and rolls up and down as needed. Turnaround times can be very quick. The [cube version](https://www.pixartprinting.co.uk/displays/roller-banners/roll-up-cube/) is probably the easiest to transport.

If you only need this in time for Friday of the festival weekend, ideally I'd like the content b

[2018-09-28 14:52] xmatthewx commented on #88
Thanks @marcwalsh! So these can have a full bleed?

[2018-09-28 15:37] marcwalsh commented on #62
@sabrinang I'm getting a quote on these from Aspect again this year. I'm going for the dual hooks for the lanyards again, so there will be two holes punched at the top.

[2018-09-28 16:08] marcwalsh commented on #56
@sabrinang do you have the sizing and print type you'd like this on?

[2018-09-28 16:13] marcwalsh commented on #55
@sabrinang do you having sizing and format for these posters?

[2018-09-28 16:16] Saallen opened #89 "Swag- waterbottle"
**Item- Waterbottle**
![waterbottle swag](https://user-images.githubusercontent.com/10194015/46220410-e958c680-c341-11e8-8de9-3b03c9035306.png)

Order quantity x 1600

Colours- Pink, orange, light blue and light green

Print area - TBC- but bottle expands

Design request for @sabrinang
Would you like to add a logo? This must be a two colour design.

cc @gideonthomas, @marcwalsh  and @rowestephanie

[2018-09-28 16:21] Saallen opened #90 "Swag: master"
Here is a list of Swag which will be given as gifts at MozFest for @sabrinang, @marcwalsh  and @gideonthomas. @Rowestephanie1 will be coordinating this work

- [ ] Water bottle #89
- [ ] Bag #91
- [ ] Notebook #92
- [ ] Baseball cap TBC
- [ ] Woolly Hat TBC

[2018-09-28 16:23] taisdesouzalessa commented on #88
Thanks for the reply and the template @marcwalsh - another question I have is resolution - do you know if we need it at 300 pixels/inch if designing in final size or is 100 pixels/inch enough?

[2018-09-28 16:46] rowestephanie1 opened #91 "Swag: Bag"
Please can we have a design for these bags http://www.pgbranding.com/scubadoo-119686.html

<img width="329" alt="screen shot 2018-09-28 at 17 45 53" src="https://user-images.githubusercontent.com/43207831/46221804-5ff7c300-c346-11e8-9e15-c9452b589711.png">

Item comes in Blue, Red, Yellow and Black
How much would you like of each colour? Maximum total quantity 1600.

Print area is 100x200mm

Our b

[2018-09-28 16:57] rowestephanie1 opened #92 "Swag: A6 Notebook"
Please can we have a full cover (four-colour digital printing) design for this item. The INSTRUCTIONS and TEMPLATE for creating the designed cover can be found on this web page when you scroll down. https://www.pixartprinting.co.uk/digital-litho-printing/office-products/customised-notebook/
<img width="345" alt="screen shot 2018-09-28 at 17 49 25" src="https://user-images.githubusercontent.com/432

[2018-09-28 18:00] Saallen commented on #62
@gideonthomas email address they gave me was already taken- just waiting for an update

[2018-09-28 18:03] Saallen commented on #62
@gideonthomas does this sound right "If you don’t respect the Mozilla Community Participation Guidelines you understand that you will be asked to leave the venue and will not receive a refund for any ticket purchased"

I think we should amend to
If you don’t respect the Mozilla Community Participation Guidelines you will be asked to leave the venue and will not receive a refund for any ticket purc

[2018-09-28 19:27] gideonthomas commented on #73
@sabrinang and @makikoumezawa - the content for the MozFest House insert is ready here - https://docs.google.com/document/d/1_U-psv7RO6BaRpu3s58L1iDivh3pH5lgzVKZAUw7Fbc/edit#

[2018-09-28 19:49] gideonthomas commented on #62
yeah the second one makes more sense - I'll update if it's not too late for design.

We can't make any changes after this, i.e. let's keep this as the finalized change.

[2018-09-28 20:16] gideonthomas opened #93 "Swag: Festival Map"
Separated from #73 to keep that issue only about the festival guide

**Deadline** - October 18

### **Printing Concept Specifications (Map 2018)**

![screen shot 2018-09-13 at 3 36 38 pm](https://user-images.githubusercontent.com/41972873/45521271-1ddd5780-b772-11e8-8b06-f7b9fb6c2d2c.png)

Folded Map (Same size as notebook)
- **Folded Size:** A6 105 x 148 mm (4.13 × 5.83 in)
- **Unfolded Size:** A

[2018-09-28 20:33] gideonthomas opened #94 "Swag: Festival Guide MozFest House Insert"
Separated from #73 to keep that ticket only about the festival guide

**Deadline** - October 11

### Content

https://docs.google.com/document/d/1_U-psv7RO6BaRpu3s58L1iDivh3pH5lgzVKZAUw7Fbc/edit#

### **Printing Concept Specifications (Mozfest House Insert 2018)**

![screen shot 2018-09-13 at 3 36 38 pm](https://user-images.githubusercontent.com/41972873/45521271-1ddd5780-b772-11e8-8b06-f7b9fb6c2d

[2018-09-28 21:15] gideonthomas opened #95 "Swag: Festival Guide Fellowships/Awards Insert"
Separated from #73 to keep that ticket only for the festival guide

Tracking issue for https://github.com/MozillaFoundation/Design/issues/280

**Deadline:** October 18

assigning to myself to monitor

[2018-09-28 21:28] gideonthomas opened #96 "Swag: Festival Guide Facilitators Insert"
Separated from #73 to keep that ticket only about the festival guide

**Deadline** - October 18

### **Printing Concept Specifications (Facilitators Insert 2018)**

![screen shot 2018-09-13 at 3 36 38 pm](https://user-images.githubusercontent.com/41972873/45521271-1ddd5780-b772-11e8-8b06-f7b9fb6c2d2c.png)

**Quantity:** 2600

**Print Type:** [Pixart Small Custom Format prints](
https://www.pixartp

[2018-09-28 21:33] gideonthomas commented on #73
I've separated out the map and inserts into separate tickets to keep track of deadlines better. This ticket is now mainly for the festival guide itself.

[2018-09-29 00:27] sabrinang commented on #62
@Saallen @gideonthomas I've designed the front and the back of the name card for Friday, Saturday, Sunday, Weekend & House.

The Friday, Saturday, Sunday & Weekend cards have a subtle title to indicate day at the top and features the data done right tagline discretely in the hackable area. I have updated the participation guideline issue but I am still missing network info and email.

I also remov

[2018-09-29 07:56] sabrinang commented on #63
@marcwalsh
**Lanyard Colours:** Black & PANTONE Yellow U

Let's go with the black standard plastic hook style with a safety breakaway release in the center.

<img width="1110" alt="image" src="https://user-images.githubusercontent.com/2492510/46242821-fa292c80-c381-11e8-91a0-d288b706a561.png">

[2018-09-30 12:03] Saallen commented on #62
Designes look awsome- thank you

Still waiting on confirmation from Ravensbourne on ssid,
waiting on Mozilla IT to confirm our email address

The term level comes from @mmmavis locations on schedule. We should agree across all platforms which term to use. Can you both connect and decide, and let us know?

cc @marcwalsh and @gideonthomas

[2018-10-01 07:36] consuelamckenzie commented on #36
@gideonthomas confirmed from Ravensbourne;
SSID 'MozFest2018'
password Mozfest18

[2018-10-01 10:12] mozfesthouse commented on #72
@sabrinang  - just been chased to get the files for the house as .eps and .pdf so they can move forward for with the cushions - I know you are super busy but let me know if its possible to get these? Thanks!

[2018-10-01 16:36] gideonthomas commented on #36
@consuelamckenzie, @marcwalsh, or @Saallen just to confirm the password - it is "Mozfest18" with a capital 'M' and a lowercase 'f'?

[2018-10-01 16:49] sabrinang commented on #72
@mozfesthouse Logos exported in [MozFest House lockups folder](https://drive.google.com/open?id=1Hn8HJIcdfnoUnwF1NtI9O2xZa1W8XQ3x):

EPS folder: https://drive.google.com/drive/folders/10xAe82YN7R2uURGQ4nwHukWCvrmEuzN-?usp=sharing
PDF folder: https://drive.google.com/open?id=10LqXhJ5Cd8V0q3-GaqtOXRKzy35IyhEK

[2018-10-01 17:04] sabrinang commented on #58
**Language stickers**
I have used content from last year https://github.com/MozillaFoundation/mozfest-design-2017/issues/24#issuecomment-334617333  DE, ES, FR, hi-IN, IT, pt-BR & zh-TW. Do you want to include SW this year? I do not have the localized string for "I speak Swahili" if so, we would need to file a l10n issue (greyed out in mockup). They are designed larger as we got feedback it was hea

[2018-10-01 17:21] sabrinang commented on #91
Let's go with black, blue and yellow bags.
Quantity: 800 black; 400 blue; 400 yellow
Logo size: 45mmx45mm
1 colour print logo (white) SVG: https://drive.google.com/file/d/12BvM-NfAbrzcWyBR4qg7At4nN0OCdr6S/view?usp=sharing

Please position as seen on redpen here: https://redpen.io/rzee78a8a388bbc204
![mozilla-festival-2018_bag-design 2x](https://user-images.githubusercontent.com/2492510/46304475-a2

[2018-10-01 17:24] sabrinang commented on #89
@rowestephanie1 @Saallen Please provide supplier link and print area specifications.

[2018-10-01 17:25] abbycabs commented on #58
Nice, thanks @sabrinang!

For the language stickers, are you planning on printing "I Speak English" ones? I remember last year a bunch of people used the blank ones and wrote it in

[2018-10-01 17:34] gideonthomas commented on #66
@mozfesthouse throwing this on your radar again for review

[2018-10-01 17:36] marcwalsh commented on #35
We’ve updated the sizing of the stage backdrops to reduce costs and to ensure none of the content is obscured by the large monitors.

Floor 4 is now 400cm x 300cm (W x H)
Floor 0 to 500cm x 300cm (W x H)

[2018-10-01 17:54] mozfesthouse commented on #66
Hi @gideonthomas  - I like the middle one best - no.2

[2018-10-01 17:56] mozfesthouse commented on #66
@gideonthomas @sabrinang re: the totems - these are great so @marcwalsh  - just the size L ones instead to go in the individual rooms - was that the size we had last year?

[2018-10-01 18:15] mmmavis commented on #62
Hey @Saallen ,

I wasn't involved in the location list discussion and I haven't started porting things over to Guidebook yet so I'm assuming when you said "@mmmavis locations on schedule" you meant the location labels we were using **last year**.  The list I was given for this year uses "level". I'll connect with @gideonthomas and @sabrinang on this then.

[2018-10-01 18:37] consuelamckenzie commented on #36
@gideonthomas yes, to confirm password is 'Mozfest18'

[2018-10-01 18:45] sabrinang commented on #66
@mozfesthouse regarding totems @marcwalsh mentioned https://github.com/MozillaFoundation/mozfest-design-2018/issues/66#issuecomment-424417013 previously we are not going with XL totems the design above is just Totem 3.

[2018-10-01 18:46] gideonthomas commented on #66
@mozfesthouse can you also approve the totem design: https://drive.google.com/file/d/1sx4HXwSQTp5dqVM9M8vTVNjulTPFGEkM/view

[2018-10-01 18:49] mozfesthouse commented on #66
@gideonthomas Totem design approved

[2018-10-01 18:49] sabrinang commented on #88
@taisdesouzalessa I'd export 300 dpi if possible

[2018-10-01 18:54] gideonthomas commented on #72
@mozfesthouse do you need any other decor designs or what @sabrinang has provided is sufficient?

[2018-10-01 18:55] gideonthomas commented on #63
@marcwalsh does that work / can this go out to order?

[2018-10-01 18:59] gideonthomas commented on #73
@Saallen could you review the festival guide (minus the inserts/map): https://docs.google.com/presentation/d/1bvVxf2aCBNS8CdUjWk-cYxwxdnEKnAe1GxssPhn0G7A/edit#slide=id.g435dacd56d_0_0

[2018-10-01 19:02] gideonthomas commented on #96
@Saallen can we cut this, it seems like a lot of work considering deadlines (and the fact that we don't have content for this yet)?

[2018-10-01 19:04] gideonthomas commented on #90
@Saallen and @rowestephanie1, please create the cap/hat tickets with print area dimensions and a link.

[2018-10-01 19:06] Saallen commented on #96
Yes- closing issue

[2018-10-01 19:06] #96 closed

[2018-10-01 19:15] Saallen commented on #58
Lets not make I speak English but let people edit that themselves @sabrinang

[2018-10-01 19:25] gideonthomas commented on #43
@marcwalsh would you be able to provide the dimensions of the tables?

[2018-10-01 19:26] gideonthomas commented on #64
@marcwalsh this is ready for print right?

[2018-10-01 19:28] gideonthomas commented on #65
@mozfesthouse can you review this?

[2018-10-01 19:29] gideonthomas commented on #71
@mozfesthouse can you review this please?

[2018-10-01 19:31] gideonthomas commented on #74
@mmmavis what is the latest time by which you need these designs by?

[2018-10-01 19:36] mmmavis commented on #74
According to our [original timeline](https://docs.google.com/document/d/1ahAMhq_GKBKR1velvE6iQgrZBC07OA6xoXpdaU3w8I4/edit#heading=h.gjjtaveus8fg) Guidebook schedule will go live on October 8th Monday. Icons and banner etc need to be added to Guidebook before then and with Sarah's approval.

[2018-10-01 19:38] sabrinang commented on #45
@marcwalsh Can you use last year's file to print more of these if we don't have them?
Google Drive Files: https://drive.google.com/open?id=0B4Q8pzCpDS_eYXBlaTFia2NKanc

[2018-10-01 19:44] sabrinang commented on #51
@marcwalsh Confirming we printing these from PixartPrinting?

[2018-10-01 19:47] sabrinang commented on #46
@marcwalsh Do you have a deadline for this? Can we make it Oct 12?

[2018-10-01 19:49] #9 closed

[2018-10-01 19:50] gideonthomas commented on #7
Finalized https://github.com/MozillaFoundation/mozfest-design-2018/issues/90

[2018-10-01 19:50] #7 closed

[2018-10-01 19:51] sabrinang commented on #9
https://github.com/MozillaFoundation/mozfest-design-2018/issues/75

[2018-10-01 20:56] sabrinang commented on #46
@marcwalsh Can we also confirm we are going with Totem 3 XL this year too? https://www.pixartprinting.co.uk/displays/point-of-sale-displays/totem-3-xl/

[2018-10-02 01:42] makikoumezawa commented on #73
@Saallen Here is the pdf draft 2 version: https://drive.google.com/open?id=1prSFOdTI20Gxrjp8GOu-hWgmV6JU8iSV

If you have any comments or feedback please add them to the google doc

/cc @gideonthomas, @sabrinang

[2018-10-02 03:16] sabrinang commented on #35
**Stage design**
I've designed level 0 stage to be blue featuring the gear logo in the center and the wordmark in the upper corner. For the level 4 stage, the lockup is featured in the centre with subtle data done right taglines in the background texture.

@Saallen Please review these designs in redpen here: https://redpen.io/ctdc6e0b837c1893f6
![image](https://user-images.githubusercontent.com/24

[2018-10-02 09:25] mozfesthouse commented on #72
@sabrinang @gideonthomas - I have everything now thank you. I shall keep the furniture plain - in black and white so the colours stand out. As per last year I shall do a few of the small poofs in the same oranges and pinks as the cushions.

The cushions proof is here - are you OK with this  - also adding @Saallen
https://drive.google.com/file/d/1fvgH2AlMq-sNWcCVhcEkPlXvykWfUmsY/view?usp=sharing

[2018-10-02 09:37] rowestephanie1 commented on #89
@gideonthomas @sabrinang @Saallen  The print area for the bottles are 25mmx16mm on the cap. There isn't a website link as I asked a company to source these for me outside of their normal catalogue. I have asked for website information.
Are you able to work up a deign based on this print information detail?
Supplier asked for design to be sent across as either a EPS Vector or High Res PDF.

[2018-10-02 09:38] rowestephanie1 commented on #90
@gideonthomas @Saallen @sabrinang will create these today.

[2018-10-02 12:48] rowestephanie1 commented on #89
@sabrinang @gideonthomas please see below a bit more detail on the artwork location for the bottles.
[3879 - 600ml Foldable Drinking Bottle Artwork Template .pdf](https://github.com/MozillaFoundation/mozfest-design-2018/files/2437851/3879.-.600ml.Foldable.Drinking.Bottle.Artwork.Template.pdf)

We would still like a no more than two colour design and a choice of a colour of bottles to purchase.

[2018-10-02 15:26] rowestephanie1 commented on #91
@sabrina please can you send the exact colour and size of logo to use as a EPS Vector or High Res PDF?
The supplier doesn't use google drive or redpen so needs to have a word document or such. I am happy to screed shot the image above and share?

[2018-10-02 15:27] rowestephanie1 commented on #91
@sabrinang these look fantastic by the way

[2018-10-02 17:08] mozfesthouse commented on #65
@gideonthomas yes this works  -thats perfect, thank you

[2018-10-02 17:28] sabrinang commented on #73
@makikoumezawa Kevin has made an update to the speakers https://github.com/mozilla/mozillafestival.org/issues/1124 `Remove Ramy Raoof as MozFest speaker`

[2018-10-02 17:49] sabrinang commented on #91
@rowestephanie1 The exact colour of the logo is white (HEX (#FFFFFF) RGB (255,255,255) CMYK (0,0,0,0)) and size is 4.5x4.5cm and you can download EPS PDF or SVG file of the logo for this bag on google drive here: https://drive.google.com/open?id=13ql-hwz2UcyCk30P--ZI2wlA-pujp7pP

or you can give your supplier this link to download as ZIP as an attachment here:
[Mozilla-Festival-Logo_Bag-Design.zip

[2018-10-02 18:28] sabrinang commented on #89
Let's go with the Blue bottle colour with a 1 colour design in white (HEX (#FFFFFF) RGB (255,255,255) CMYK (0,0,0,0)) and the size is 16mmx16mm on the cap. You can download EPS PDF or SVG file of the logo for this bottle on google drive here: https://drive.google.com/open?id=14QE1jzwLL8_Dh8JQ_cs40GeNpN8Q0mmD

or you can give your supplier this link to download as ZIP as an attachment here:
[Bottle

[2018-10-02 18:34] sabrinang commented on #72
@mozfesthouse Yes, the placement of the logo and 3 cushion design colours look good. 👍

[2018-10-02 18:47] Saallen commented on #35
Love these @sabrinang - very happy with them

[2018-10-02 18:59] gideonthomas commented on #58
@sabrinang Swahili translation for "I speak Swahili" - Nazungumza swahili

[2018-10-02 18:59] Saallen commented on #89
Works for me. Ill let @rowestephanie1  have the final say here

[2018-10-02 19:49] marcwalsh commented on #35
@sabrinang can you post the link to the PDF of these files please?

[2018-10-02 20:23] Saallen commented on #74
@marcwalsh  can you confirm from the top comment what asset we need for this year since the app layout is slightly different?
@gideonthomas and @marcwalsh  once this list is updated -can you review last years assets to see what we can reuse??

[2018-10-02 20:26] marcwalsh commented on #74
@Saallen @gideonthomas the only requirements are those in my [comment](https://github.com/MozillaFoundation/mozfest-design-2018/issues/74#issuecomment-423608423) and ideally an icon for experiences (something similar to what is in the style guide).

We can reuse the App Icon for this year's Guidebook 'Space' Icon.

[2018-10-02 20:43] Saallen commented on #74
It is hard to read in that format so to confirm here for @sabrinang

- [ ] Space logo
- [ ] Cover image/branding
- [ ] Theme colours
- [ ] sidebar icon colour
- [ ] icons for spaces
- [ ] icon for experiences

Icons for spaces is the same as last year

[2018-10-02 20:52] Saallen commented on #73
Hey- the design is gorgeous- looks really great- thank you

I added comments to the document @makikoumezawa

[2018-10-02 21:18] gideonthomas commented on #62
@sabrinang I updated the copy with the WiFi SSID and password and changed "floors" to "levels" and updated the #MozHelp location. Still waiting on the email address.

[2018-10-02 22:40] sabrinang commented on #74
I logged into builder.guidebook.com to figure out what can be changed. I made changes to our guidebook space logo, space theme, guide cover, guide icon and I kept the pre-designed icon colour the same. I made an about icon, spaces/experiences mosaic icon, updated spaces colour and proportions and an experiences icon. I also made headers for the list:
![mozilla-festival-2018_schedule-app_overview](

[2018-10-03 00:54] sabrinang commented on #35
@marcwalsh PDFs exported on google drive here: https://drive.google.com/open?id=16e0lZFeb_ub4qo4rnxXfNKRrhTwieqEf

Since there is a 1" bleed limit in Illustrator, I made the files larger to accommodate the 10cm required bleed so the file sizes for Level 0 Stage is 520cmx320cm and Level 4 Stage is 420cmx320cm (no trim marks are exported). Let me know if this works for the printer.

[2018-10-03 01:24] sabrinang commented on #62
@Saallen @gideonthomas I just want to double check that the WiFi SSID for MozFest House is the same as last year (RWNET  1986759)?

[2018-10-03 10:48] rowestephanie1 commented on #92
@sabrinang @makikoumezawa @gideonthomas Just wondered how we are progressing with this one? I need to order this week latest.
We can also have a variety of designs if you wish at no extra costs. I would suggest no more than 3 different designs. We have to place the order in batches of 500.
500 = design 1
500 = design 2
500 = design 3
100 = design 3

[2018-10-03 13:16] rowestephanie1 commented on #92
@sabrinang just to update you can also create an array of designs. we can order in batches of no more than 500. So for example;
500 = design 1
500 = design 2
500 = design 3
100 = design 3
I need to place this order imminently please.

[2018-10-03 14:37] mozfesthouse commented on #70
HI @sabrinang @gideonthomas    - the signage provider is struggling to download the ai/illustrator files for the vinyls and the wayfinding - is there a chance you could share these with him directly ? His email is  ben@blueantdesign.com?

[2018-10-03 14:56] rowestephanie1 commented on #89
@sabrinang @gideonthomas Thank you for these. I am just waiting on confirmation from our suppliers... placed order with them but they are out of office at a event today.
Will update when order has been fully processed.

[2018-10-03 14:57] rowestephanie1 commented on #91
@sabrinang @gideonthomas Thank you for these. I am just waiting on confirmation from our suppliers... placed order with them but they are out of office at a event today.
Will update when order has been fully processed.

[2018-10-03 16:08] marcwalsh commented on #43
Rave folding table dimms:

70.5cm (D) 140.5cm (W) 77.2cm (H)

[2018-10-03 16:09] gideonthomas commented on #92
Hi @rowestephanie1 this should be done by end-of-day today.

[2018-10-03 16:29] sabrinang commented on #34
@marcwalsh Let's go with cog logo design again. SVG on gdrive here: https://drive.google.com/file/d/1V4mq9fpyepH75vcaUZ8kRRszYT0-wOYw/view

[2018-10-03 16:43] sabrinang commented on #70
I shared access with that email on the gdrive folder as well as sent him an attached link to the email just in case.

[2018-10-03 17:06] sabrinang commented on #74
@marcwalsh gave me some feedback that the wordmark was cropped in the menu view as it is used as background that is cropped-in/lightened so it should just be a texture. I updated guidebook with a version without the wordmark:
<img width="460" alt="image" src="https://user-images.githubusercontent.com/2492510/46426476-93926e80-c6f3-11e8-9d4a-f6038ae02b79.png">

[2018-10-03 18:04] gideonthomas commented on #74
Closing as completed!

[2018-10-03 18:04] #74 closed

[2018-10-03 18:07] gideonthomas commented on #62
@mozfesthouse and @marcwalsh  would you be able to confirm the WiFi SSID and password? It's currently blocking design.

@Saallen any updates on the MozHelp email?

[2018-10-03 18:11] sabrinang commented on #73
@makikoumezawa I forwarded you an email with Kristine Grivcova's photo. Please let us know if you any other outstanding content.

[2018-10-03 18:45] gideonthomas commented on #90
@rowestephanie1 just a quick reminder about the cap/hat tickets.

[2018-10-03 18:45] gideonthomas commented on #37
cc @xmatthewx

[2018-10-03 18:47] gideonthomas commented on #38
cc @xmatthewx

[2018-10-03 18:52] gideonthomas commented on #68
@mozfesthouse are the files above good to go (can I mark this as done)?

[2018-10-03 18:52] gideonthomas commented on #36
cc @xmatthewx

[2018-10-04 00:15] sabrinang commented on #24
Please review this cover design and if you want to include the dates or not, background colour preference and the tagline is incorporated subtly in the background similar to stage design.

redpen: https://redpen.io/p/vj7b8fce74bbb84ffd
drive folder files: https://drive.google.com/drive/u/1/folders/17C0TDzZWGzs3X2EdYoDYOJzDtrwcaV9N

<img width="381" alt="image" src="https://user-images.githubuserco

[2018-10-04 00:16] sabrinang commented on #22
This template is here on slides: https://docs.google.com/presentation/d/1CO_QNsCaxyz34jDScR59EKoRy972heCRWbDCSyBn16E/edit#slide=id.g4393812be4_5_121
The dimensions are twice as large so when you export the resolution is good on retina. Handing this off to another designer to create more photo overlays + borders etc.

redpen: https://redpen.io/p/vj7b8fce74bbb84ffd
gdrive folder files: https://drive

[2018-10-04 00:17] sabrinang commented on #21
This template is here on slides: https://docs.google.com/presentation/d/1CO_QNsCaxyz34jDScR59EKoRy972heCRWbDCSyBn16E/edit#slide=id.g4393812be4_5_121

The dimensions are twice as large so when you export the resolution is good on retina. Handing this off to another designer to create more backgrounds and iterate typography for various topics.

redpen: https://redpen.io/p/vj7b8fce74bbb84ffd
gdrive f

[2018-10-04 00:18] sabrinang commented on #17
These are some theme tagline designs you can use as is, handing this off to another designer to generate more from the tagline files, export different dimensions or include copy etc.

tagline lockup files: https://drive.google.com/drive/u/1/folders/1fK-REXx9vEUAvfj82yeFLdzvq3TNIT9t

redpen: https://redpen.io/p/vj7b8fce74bbb84ffd
gdrive folder files: https://drive.google.com/open?id=17Y7sriIR_d73jB

[2018-10-04 00:19] sabrinang commented on #15
These are similar space design headers used in guidebook, handing this off to another design to include text, template, export different dimensions or you can use as is etc.

redpen: https://redpen.io/p/vj7b8fce74bbb84ffd
gdrive folder files: https://drive.google.com/open?id=17Y7sriIR_d73jB4KO7xT2Xg158tphuL0
![image](https://user-images.githubusercontent.com/2492510/46445891-ee48bc00-c72d-11e8-8ae

[2018-10-04 00:20] sabrinang commented on #14
These are the experiences sticker designs, handing this off to another designer to make this into a template, export different dimensions or you can use it as is etc.

redpen: https://redpen.io/p/vj7b8fce74bbb84ffd
gdrive folder files: https://drive.google.com/open?id=17Y7sriIR_d73jB4KO7xT2Xg158tphuL0
<img width="507" alt="image" src="https://user-images.githubusercontent.com/2492510/46446319-82b4

[2018-10-04 00:27] sabrinang commented on #19
Note: good to align D&D social with visuals seen in festival guide section https://github.com/MozillaFoundation/mozfest-design-2018/issues/73

[2018-10-04 09:21] rowestephanie1 commented on #89
[Waterbottle Image.pdf](https://github.com/MozillaFoundation/mozfest-design-2018/files/2445720/Waterbottle.Image.pdf)
@sabrinang @gideonthomas @Saallen Please can you confirm you're happy with this mock up of the final output that will go into printing?

[2018-10-04 09:51] rowestephanie1 commented on #90
@gideonthomas thanks for your patience with this. I will be sharing these today.

[2018-10-04 12:02] marcwalsh commented on #35
Sent to print on Oct 4th.

Closing ticket and will reopen if the printer comes back with comments.

[2018-10-04 12:02] #35 closed

[2018-10-04 12:03] marcwalsh commented on #69
Sent to print on Oct 4th.

Closing ticket and will reopen if the printer comes back with comments.

[2018-10-04 12:03] #69 closed

[2018-10-04 12:07] marcwalsh commented on #63
Sent to print on Oct 4th.

Closing ticket and will reopen if the printer comes back with comments.

[2018-10-04 12:07] #63 closed

[2018-10-04 14:21] Saallen commented on #89
Yes- approved

[2018-10-04 14:23] rowestephanie1 opened #97 "Swag - Caps"
@sabrinang @gideonthomas
Please find a link for branded caps below.
https://www.xamax.co.uk/result-core-memphis-6-panel-brushed-cotton-low-profile-cap.html
What colour would we like for our caps? We can have an array. We don't plan on ordering more than 800-1000 of these as we want some woolly hats too.
We can have up to a 7000 stitch embroidered for this...
Logo size no bigger than 5cmx5cm

[2018-10-04 14:24] rowestephanie1 opened #98 "Swag - Woolly Hats"
@sabrinang @Saallen @gideonthomas
Please find a link for woolly hats below
https://www.arcadiaonline.co.uk/product-10738-beechfield-cuffed-beanie.aspx#title

What colour would we like for our woolly hats? (It doesn't specify all the colours available, just says 60 different colours so feel free to suggest and I can request.)

We can have embroidery logo up to 5000 stitches.

Print size is up to us

[2018-10-04 15:22] gideonthomas commented on #92
@makikoumezawa any updates on this?

[2018-10-04 16:49] rowestephanie1 commented on #89
@Saallen Thank you

[2018-10-04 17:39] sabrinang commented on #43
@Saallen @gideonthomas If the buyer's guide team is going to be on level 0, would they need a table cloth too?

[2018-10-04 18:20] gideonthomas commented on #98
Hi @rowestephanie1 would you be able to link the examples separately? We can't view them since those links are email links.

[2018-10-04 18:21] gideonthomas commented on #43
@Saallen and @marcwalsh would you be able to coordinate about that ^, it shouldn't affect design right?

[2018-10-04 18:49] makikoumezawa commented on #92
@rowestephanie1 Here is the pdf for the Notebook cover: https://drive.google.com/open?id=16Lj9fgZ3o7bnuRPK0B2SCbKiizzTASqe

There are 4 covers that have different color iterations. Below are the specifications for each cover.

**1. Navy Blue Shade:** 500 w/ Blue thread
**2. Light Blue Shade:** 500 w/ Blue thread
**3. Black and White Shade:** 500 w/ Black thread
**4. Blue with Green Blocks:** 100 w

[2018-10-04 20:17] zee-moz commented on #24
@sabrinang these are awesome. I personally like the more aqua one, just a bit more contrast.
Dates are good! thanks so much 💯

[2018-10-04 20:19] zee-moz commented on #19
@sabrinang great! is there anything I can do to help on this?  😸

[2018-10-04 20:21] zee-moz commented on #14
@sabrinang these look great! 👍

[2018-10-04 20:24] zee-moz commented on #15
@sabrinang love these designs. my only bit of feedback is that the illustrations are hard to see, and they get a bit lost from a distance. Anyway to increase the contrast or line weight on the illustrations? If not, it's OK! they are lovely either way 😃

[2018-10-04 20:25] zee-moz commented on #17
Awesome! love these @sabrinang 🥇

[2018-10-04 20:28] zee-moz commented on #21
@sabrinang these are amazing! We'll put them to use right away! 😻

[2018-10-04 21:04] rowestephanie1 commented on #98
@gideonthomas @sabrinang
Please see an example below.
<img width="350" alt="screen shot 2018-10-04 at 22 02 05" src="https://user-images.githubusercontent.com/43207831/46502981-6c39bf80-c821-11e8-9a84-e75cb7133f2e.png">

[2018-10-04 21:21] gideonthomas commented on #62
@sabrinang I updated the copy above with the safety email.

[2018-10-04 22:01] sabrinang commented on #62
@gideonthomas I can't find the email in the copy above (I still see xxxx@mozilla.org). Can you please paste the email as a new comment?

[2018-10-05 00:36] sabrinang commented on #87
@makikoumezawa reference for your floor maps

[2018-10-05 00:42] sabrinang commented on #93
@makikoumezawa https://drive.google.com/open?id=1iMErQt_P7QJStHZiHipELgYR4P_7TcB3

[2018-10-05 01:43] gideonthomas commented on #62
Hmm weird - ok, the email is festivalsafety@mozilla.org

[2018-10-05 13:35] rowestephanie1 commented on #92
@makikoumezawa @gideonthomas @sabrinang  very much appreciated...
Please can you send through each design and specifications as separate pdfs please. They require each design to be uploaded separately.

[2018-10-05 15:49] marcwalsh commented on #51
@sabrinang - Yes these are ([Custom Formats](https://www.pixartprinting.co.uk/digital-litho-printing/printing-other-formats/), but not pre-folded), I've attached a template below.
@gideonthomas - Looking at timelines, it might be safer to have these on Oct 17th to ensure I get them as early as possible when wranglers arrive.

[A4 Template is here...](https://github.com/MozillaFoundation/mozfest-de

[2018-10-05 15:54] marcwalsh commented on #50
@sabrinang - what size are we expecting these to be? I would do them as a [Custom Format](https://www.pixartprinting.co.uk/digital-litho-printing/printing-other-formats/) if you're after something long like in the intial comment.

[2018-10-05 18:35] sabrinang commented on #62
Sarah has confirmed the MozFest House WiFi SSID/Password:

<img width="349" alt="image" src="https://user-images.githubusercontent.com/2492510/46553079-6380d200-c891-11e8-9b95-8a92e369dd84.png">

I've exported all name cards with 5mm bleed on each and please punch holes similarly to last year (25mm from side, 10mm from top, 5mm diametre) the position is not indicated on graphic itself:
<img width=

[2018-10-05 18:44] Saallen commented on #62
@sabrinang all designs look really great- We should include data done right at MozFest house too as all event managers have been told about this theme and it should show up here too

[2018-10-05 18:52] Saallen commented on #43
I dont think so @beccaklam can you confirm?

[2018-10-05 19:19] sabrinang commented on #62
@Saallen Thanks for the review! I didn't know data done right appears at MozFest House too so I have exported the revised MozFest House front in the PDF now to the same Print PDF folder on gdrive here: https://drive.google.com/open?id=1BHA9TYFYjVG6rh3-gHiv1sfxIygb5vAL

[2018-10-05 21:10] sabrinang commented on #61
@Saallen Please review redpen with your preference for 1 weekend (blue) and 1 house (orange) design: https://redpen.io/p/uo05d39f569ed7aa66

I made two designs for the front weekend shirt and two colour options for MozFest House. I don't have details on sleeve printing size for sponsorship but included it along with a back version as an alternative option. The designs front and back are on a A4 pr

[2018-10-05 21:17] sabrinang commented on #73
@makikoumezawa https://github.com/mozilla/mozillafestival.org/issues/1130#issuecomment-427497855
@KevZawacki updated the Dialogues & Debates with a new speaker. If it is possible to add it to the guide, please refer to the linked issue.

[2018-10-06 00:29] sabrinang commented on #48
I have designed the floor stickers to include spaces, experiences, mozhelp, d&d, space icons, level numbers, directional arrows, sponsors, MozFest lockup, logo and taglines.

@Saallen Please review the content and designs on redpen here: https://redpen.io/p/mj494e39187a6feea3
<img width="403" alt="image" src="https://user-images.githubusercontent.com/2492510/46565384-a6f43400-c8c3-11e8-8e01-34cb1c

[2018-10-06 02:57] makikoumezawa commented on #73
@Saallen  Here is the final draft for a final review before sending to print on the 10th: https://docs.google.com/presentation/d/1bvVxf2aCBNS8CdUjWk-cYxwxdnEKnAe1GxssPhn0G7A/edit?usp=sharing

/cc @sabrinang @gideonthomas

[2018-10-06 04:21] sabrinang commented on #73
I left you comments on the doc @makikoumezawa. Overall, the guide is looking amazing, clean and thoughtfully structured. Thank you for including additional content last minute as well and breaking up the sections with hackable pages to give some space in between. There are a few minor copy inconsistencies I noted (punctuation, capitalization) that I am unsure of myself that I hope Sarah or Gideon

[2018-10-06 04:26] sabrinang commented on #48
Note: last year's floor stickers had "decentralization" should it be "decentralisation" to be consistent else where?

[2018-10-06 05:44] sabrinang commented on #58
I have exported the designs to include a 1/8" bleed for stickermule but they didn't have a specific label template. I would prefer these designs to be label rolls:

**Rectangle roll labels**
Custom size: 60mm x 30mm
9 designs for language stickers

**Square roll labels**
Custom size: 30mm x 30mm
5 designs for pronoun stickers
1 design for icebreaker sticker

@Saallen Please review the content to e

[2018-10-07 14:32] Saallen commented on #48
Yes- we are using S this year. 🤷‍♀️

Designs look great- added a few comments

[2018-10-07 14:33] Saallen commented on #73
HI @makikoumezawa Could you please share this final draft as PDF for me to review? Find it very hard to review in the slide deck as cannot read the type properly

[2018-10-08 08:13] mozfesthouse commented on #62
@sabrinang these look great!

[2018-10-08 08:59] Saallen commented on #62
Awesome- looks so great @sabrinang

[2018-10-08 13:23] rowestephanie1 commented on #92
@gideonthomas @makikoumezawa apologies for chasing but this really needs to get sent to print. I require the four different designs to be sent across as separate PDFs asap please.

[2018-10-08 13:24] rowestephanie1 commented on #98
@gideonthomas @sabrinang how are we getting on with designs for this item please?

[2018-10-08 13:24] rowestephanie1 commented on #97
@gideonthomas @sabrinang how are we getting on with designs for this item please?

[2018-10-08 13:47] Saallen commented on #62
Hey @sabrinang just noticing the safety number is not on there- it needs to go under safety email address. Please add to Weekend, Sat and Sun name tags
Phone- +44 (0) 207 855 3030

[2018-10-08 13:54] Saallen commented on #62
Plus the email is not right. It should be ...
festivalsafety@mozilla.com

[2018-10-08 16:43] sabrinang commented on #70
@mozfesthouse the .ai files also has been shared with you in a previous comment https://github.com/MozillaFoundation/mozfest-design-2018/issues/70#issuecomment-424081216

Here is the link again: https://drive.google.com/file/d/1s5KYSoGznyyoMqUQyGklqWW_XHqG9Wx0/view?usp=sharing

The folder is shared with Ben's gmail too so he is able to access it. If he isn't able to, please download and forward it

[2018-10-09 05:32] makikoumezawa commented on #92
@rowestephanie1 my apologies for not replying earlier. Here are the separate pdfs:

**1. Navy Blue Shade: 500 w/ Blue thread:** https://drive.google.com/open?id=1VJnPyPi2HIVbM9MuOAJEqfzVNlTT-eDO

**2. Light Blue Shade: 500 w/ Blue thread:** https://drive.google.com/open?id=1OiRK8GBEDNI3Bb4FDKf_EfnJ6-sofrQc

**3. Black and White Shade: 500 w/ Black thread:** https://drive.google.com/open?id=1qxIwWV

[2018-10-09 09:28] Saallen opened #99 "Design support for Science Fair Slides"
Required --Slides created for Science Fair mini nets at Ravensbourne- Friday 26th Oct
cc @xmatthewx to allocate design support
cc @rowestephanie1 for logos and content support

Below are numbers representing different slides sharing content requested on each slide

1. Welcome to Science Fair
2. Thank you to our following sponsors for supporting Mozfest 2018
3. Our presenting partner Private Intern

[2018-10-09 09:42] rowestephanie1 commented on #92
@makikoumezawa Thank you very much for sharing these!

[2018-10-09 16:09] marcwalsh commented on #34
Sent to Whitelight to create! Thanks all - I'll close this and reopen if there's any changes required.

[2018-10-09 16:09] #34 closed

[2018-10-09 16:23] sabrinang commented on #12
NOTE: Align style with festival guide D&D section: https://docs.google.com/presentation/d/1bvVxf2aCBNS8CdUjWk-cYxwxdnEKnAe1GxssPhn0G7A/edit#slide=id.g4324660cb0_0_92

[2018-10-09 16:35] beccaklam commented on #21
Make photoshop templates based on slides P1

[2018-10-09 16:35] sabrinang commented on #22
Note: Zannah prefers templates as psd files

[2018-10-09 16:35] sabrinang commented on #21
Note: Zannah prefers templates as psd files

[2018-10-09 16:49] sabrinang commented on #98
The site is unclear what colours are available, I am unsure how many you need but these would be the prefered colours:
* black
* antique grey
* heather royal blue
* heather purple

For the logo size, the gear logo can be 3cm in diameter. There are no dimensions of the hat brim itself so it I’m assuming it is approximately ~2cm from the edges.

![mozilla-festival-2018_swag-touque-examples](https://

[2018-10-09 16:54] gideonthomas commented on #43
Confirmed, we don't need a table cloth for Buyer's Guide

[2018-10-09 16:58] Sydette commented on #21
these are great. thankyou

On Tue, Oct 9, 2018 at 12:35 PM, sabrinang <notifications@github.com> wrote:

--
Sydette Harry
Editor
Mozilla Network
Sydette@mozillafoundation.org

[2018-10-09 17:01] gideonthomas commented on #97
@rowestephanie1 should be ready by EOD today based on the deadline labelled above.

[2018-10-09 17:02] gideonthomas commented on #49
@makikoumezawa will this be ready today?

[2018-10-09 17:29] sabrinang commented on #57
I made designs for the 6 spaces and 3 experiences as 4cmx4cm square stickers. I also made clear die cut stickers for MozFest 2018, MozFest House and 2 data done right taglines in various sizes around 7cm width.

@Saallen Please review designs on redpen here: https://redpen.io/p/ome179d47dd8b8e65b

<img width="810" alt="image" src="https://user-images.githubusercontent.com/2492510/46686816-275db200

[2018-10-09 17:31] sabrinang commented on #49
@gideonthomas I'll be working on this issue and yes I'll have designs for review today

[2018-10-09 18:19] sabrinang commented on #61
note: export back for A3 as well

[2018-10-09 18:19] Saallen commented on #58
Approved

[2018-10-09 18:22] Saallen commented on #57
approved

[2018-10-09 18:35] zee-moz commented on #21
@beccaklam @sabrinang I don't need the quotes templates as psd files-- only the photo templates because I am doing some photo adjustments in Photoshop.

[2018-10-09 18:40] zee-moz commented on #22
@sabrinang @beccaklam These are the two I need as psd files Would be nice to have layers so it's easy to put a background on the logo if the photo is too dark in that corner.
Thanks! :)

[2018-10-09 19:19] sabrinang commented on #57
Note: update Art+Data without space

[2018-10-09 20:13] makikoumezawa commented on #73
@Saallen Sabrina and I resolved all the comments from the google docs and is updated as a final draft.

Here is a pdf version so you can revise for a final review before sending to print: https://drive.google.com/open?id=16hCMyJnktAilN9S9fcUi3QqSiN-z2cuN

/cc @sabrinang @gideonthomas

[2018-10-09 21:28] sabrinang commented on #43
Here is the table cloth design 220cmx150cm so the table cloth drop is approximately 40cm. If budget allows, we can have reinforced stitching on entire perimetre.

<img width="376" alt="image" src="https://user-images.githubusercontent.com/2492510/46699320-4704d280-cbce-11e8-89ba-51f6f3ca7d1d.png">

@Saallen Please review design of table cloth and @marcwalsh please confirm these dimensions would wo

[2018-10-09 21:31] sabrinang commented on #57
Art+Data sticker updated on the same .ai file on gdrive above
![image](https://user-images.githubusercontent.com/2492510/46699890-027a3680-cbd0-11e8-8066-30f090c0bfe1.png)

[2018-10-09 21:50] sabrinang commented on #61
On redpen the following designs received positive feedback:
<img width="916" alt="image" src="https://user-images.githubusercontent.com/2492510/46700703-66056380-cbd2-11e8-96df-19415232d18e.png">

These designs A4 front and back are exported along with A3 back versions for weekend and house. T-shirt colours are Royal Blue and Heather Orange.

PDFs are exported here: https://drive.google.com/drive/

[2018-10-09 21:59] sabrinang commented on #48
Floor stickers updated:
<img width="543" alt="image" src="https://user-images.githubusercontent.com/2492510/46701211-d5c81e00-cbd3-11e8-813e-d44316c1c162.png">

.ai files with a stickermule template for printing here: https://drive.google.com/open?id=1DU4trit6eCXdnvx0TgVm4jfdc8h7N-rQ

[2018-10-09 22:23] sabrinang commented on #62
Email has been updated on fri/sat/sun/weekend cards.
Number has been added to sat/sun/weekend cards.

Updated Print PDF in gdrive folder: https://drive.google.com/open?id=1BHA9TYFYjVG6rh3-gHiv1sfxIygb5vAL

[2018-10-09 22:45] sabrinang commented on #97
I'm not sure how many colours you need but these caps can be in:
* black
* navy blue
* azure
* purple

For the logo size, the gear logo can be 4cm in diameter. It can be 2cm above the brim seam.

![mozilla-festival-2018_swag-cap-examples](https://user-images.githubusercontent.com/2492510/46651586-5eec4000-cb55-11e8-8ae3-be8a6521bcfc.png)

4cm gear logo SVG/EPS/PDF file on gdrive here: https://driv

[2018-10-10 01:04] sabrinang commented on #49
I designed the sponsorship banner on the cardboard template provided that features our four sponsors. Can you clarify which logo we are using for samsung the folder contains both samsung internet (android browser) and just samsung (company itself).

<img width="698" alt="image" src="https://user-images.githubusercontent.com/2492510/46707032-e20ca500-cbec-11e8-8048-27eeb9668fe6.png">

@Saallen Plea

[2018-10-10 01:51] jcbarajas commented on #49
We should use the Samsung Internet logo. Thanks!

Juan

[2018-10-10 02:58] gideonthomas commented on #62
@Saallen would you be able to quickly just double check that your review comments were addressed? Otherwise, this is ready to print.

[2018-10-10 03:06] gideonthomas commented on #73
@makikoumezawa would you be able to replace `www.foundation.mozilla.org` to just `foundation.mozilla.org`?

[2018-10-10 12:02] Saallen commented on #6
Hey - I just found this docment- are you still using this and can I loop in Zannah who is working with photographer and Matt from production team who is setting up welcome desk area

[2018-10-10 14:07] marcwalsh commented on #66
Sent to print! 🕺

Closing and will reopen if there are any changes required.

[2018-10-10 14:07] #66 closed

[2018-10-10 14:08] marcwalsh commented on #43
Sent to print! 🕺

Closing and will reopen if there are any changes required.

[2018-10-10 14:08] #43 closed

[2018-10-10 16:12] sabrinang commented on #49
I have exported the banner with the samsung internet logo. Note: I replaced jpg/png files for samsung internet and pia logos from the sponsorship folders with matching svgs because the resolution will be too low printing at this scale.

Print PDF exports on gdrive here: https://drive.google.com/drive/u/1/folders/1JRdc6Rg3HkMC8aFuM73u1R66_Jhxo3TN

[2018-10-10 16:21] beccaklam commented on #22
Hi @zee-moz what social accounts will you be sharing on? Just so I know what dimensions to build the templates at. Thanks!

[2018-10-10 16:42] zee-moz commented on #22
twitter and instagram. thanks!

On Wed, Oct 10, 2018 at 12:21 PM beccaklam <notifications@github.com> wrote:

[2018-10-10 18:58] sabrinang commented on #85
I designed the step and repeat that integrates mozfest 2018 branding, tagline and the presenting festival partner using the pop display template above.
<img width="570" alt="image" src="https://user-images.githubusercontent.com/2492510/46759121-66aa0280-cc83-11e8-92bd-cfca10e7d029.png">

@Saallen Please review design and content.

redpen here: https://redpen.io/p/ue4d1b9684af817765
PDF on gdrive h

[2018-10-10 19:06] jcbarajas commented on #85
The step and repeat should really just be a sequence of repeating logos.
Imagine that anywhere from 1 person to several people standing in front of
it for pictures. They won't be able to see the big message in the middle,
and might only see a full PIA logo and not the MozFest one. I'd strongly
recommend it look something like the pics below and like the format here:

____

PIA logo     MozFest log

[2018-10-10 19:06] makikoumezawa commented on #94
@Saallen Please review the MozFest House insert. Here is the pdf version: https://drive.google.com/open?id=1Jjp4BQsqS36mbFAsdG04Xc7MLmBxGxha

If you have any comments, please comment on the google docs: https://docs.google.com/presentation/d/14aDPsr3HcrmV9BF70le_oyvvAeI6_wlVeuSO9ZloGr4/edit?usp=sharing

/cc @gideonthomas @sabrinang

[2018-10-10 19:43] Saallen commented on #41
@marcwalsh can we delay this design deadline?

[2018-10-10 19:54] marcwalsh commented on #46
@sabrinang this is fine to move to Friday and yes we're using the Totem 3 XL again

[2018-10-10 20:02] beccaklam commented on #22
@zee-moz I made a psd file with the templates and made layers where you can add images or text. You can download it here: https://drive.google.com/file/d/1ERXyx6NPTq3gbo1_SeeIluATDsGXk6sl/view?usp=sharing Let me know if it works for you!

[2018-10-10 20:04] gideonthomas commented on #50
Due Oct 17

[2018-10-10 21:25] Saallen commented on #73
@makikoumezawa I made one final edit request on MozFest tips page but otherwise
AWESOME WORK- its gorgeous 🌷

[2018-10-10 21:39] gideonthomas commented on #73
Added a small edit on page 3 as well. Let me know once these changes are done. Thanks @makikoumezawa!

[2018-10-10 22:06] sabrinang commented on #86
@Saallen I designed the eight A2 posters in a set of blue or light versions for you to review which set you'd like to use. Note that Networking Breakfast is MozFest Breakfast in the festival guide so it is also changed here to align.

Please review on redpen here: https://redpen.io/p/ue4d1b9684af817765

I have exported the files with trim marks and a 1cm bleed as it wasn't indicated how much bleed

[2018-10-10 22:54] sabrinang commented on #86
Update: We probably should go for the light set since I don't know all the brand guidelines for each logo but for example stickermule's includes:
<img width="523" alt="image" src="https://user-images.githubusercontent.com/2492510/46770514-974e6400-cca4-11e8-949a-d5232748df11.png">
... so I don't think it can be on blue bg in the blue set

[2018-10-10 23:38] sabrinang commented on #84
I made the presenting festival partner signage on a 59.4cm x 59.4cm custom rigid media template to match the height of A2 posters (photo/video, participation guidelines) near registration.

![image](https://user-images.githubusercontent.com/2492510/46771947-8c96cd80-ccaa-11e8-9a32-4a74a77d8d76.png)

@Saallen Please review on redpen here: https://redpen.io/de6b97603e8b1dfcb0

Print PDF here: https:

[2018-10-11 00:04] gideonthomas commented on #84
@jcbarajas would you be able to review this set of posters? This will show up behind the registration desk on hard cardboard. Link to poster - https://redpen.io/de6b97603e8b1dfcb0

[2018-10-11 00:08] gideonthomas commented on #86
@jcbarajas would you be able to review the event entrance sign posters and the food/bar posters - https://drive.google.com/file/d/1K9ITUohh3m3U2-ErwzLzA8gTUAQELx_X/view?usp=sharing

[2018-10-11 00:34] gideonthomas commented on #82
Migrated to https://github.com/MozillaFoundation/mozfest-design-2018/issues/99

[2018-10-11 00:34] #82 closed

[2018-10-11 01:42] natalieworth commented on #85
I've updated the design and added some additional logos. I also took away the large "data done right" and "mozilla festival" images. I am only using the gear icon, but let me know if it's important to use the full "mozilla festival" logo with accompanying text?

cc @Saallen @gideonthomas @jcbarajas

<img width="1138" alt="screen shot 2018-10-10 at 6 38 09 pm" src="https://user-images.githubusercon

[2018-10-11 02:40] makikoumezawa commented on #42
Here is a draft of the floor maps. Please review before being exported.
https://redpen.io/p/tv5dbb6fbb96b46b85

PDF version: https://drive.google.com/open?id=1zPx1WaYbZzEVkfntUyR5q4kCuaLaAwIQ

/cc @gideonthomas @sabrinang

[2018-10-11 08:59] sabrinang commented on #42
Great work on this so far @makikoumezawa and I left some comments in the redpen for content inconsistencies.

Some overall design feedback:
- consider consistent colouring with overview map and large maps
    - example: on larger maps, level 6 has darker orange shade, experiences are darker except queering, youth zone and D&D space
- consider consistent headings on overview map and large maps

[2018-10-11 09:03] sabrinang commented on #85
@natalieworth left a comment for you on redpen https://redpen.io/mrc59b49d6fec60ca7

[2018-10-11 10:45] rowestephanie1 commented on #98
@gideonthomas @sabrinang thank you for sending these designs across... trying to source these colours specifically. Original supplier can't provide the purple. Will be completed with way today.

[2018-10-11 11:18] rowestephanie1 commented on #92
@gideonthomas @sabrinang @makikoumezawa These have been ordered. Thanks fro your assistance with the great designs!

[2018-10-11 11:44] rowestephanie1 commented on #97
@gideonthomas @sabrinang Thank you for providing.

[2018-10-11 11:49] Saallen commented on #73
Partnership team made a request for sponsors logos to be ordered different on page 33 @makikoumezawa
Presenting partner first
Then science fair partner

@gideonthomas did partnerships team raise the alignment with you also?

[2018-10-11 16:32] gideonthomas commented on #73
@Saallen Nope, this is the first I'm hearing about this. This is the last change we're making to the guide though since @makikoumezawa needs to work on other stuff as well.

[2018-10-11 16:32] gideonthomas commented on #92
Thanks @rowestephanie1!

[2018-10-11 16:32] #92 closed

[2018-10-11 16:33] gideonthomas commented on #98
Thanks @rowestephanie1!

[2018-10-11 16:33] #98 closed

[2018-10-11 17:29] gideonthomas commented on #42
@Saallen how do the floor maps look: https://drive.google.com/open?id=1SNI-duT6YYM0Zl0rTdvGkcvacSXwn_OC

[2018-10-11 18:37] Saallen commented on #62
Approved

[2018-10-11 18:38] Saallen commented on #85
Will let @jcbarajas have final approval here

[2018-10-11 18:49] Saallen commented on #73
OK- 100% UNDERSTAND

[2018-10-11 19:11] jcbarajas commented on #85
It looks great for PIA, but I don't see the name Mozilla or MozFest with
the gear icon. Our name should show up on this since it will live on in
photos.

On Thu, Oct 11, 2018 at 11:38 AM Sarah Allen <notifications@github.com>
wrote:

--
*Juan Barajas*
Director of Partnerships

*Mozilla Foundation*

*San Francisco Office*

*Mobile:* +1(415) 297-7309
*www.mozillafoundation.org <http://www.mozillafou

[2018-10-11 19:39] gideonthomas commented on #73
@makikoumezawa would you be able to put the final exported file here...it will go to print tomorrow.

[2018-10-11 19:41] gideonthomas commented on #86
Juan approved via slack!

[2018-10-11 19:42] gideonthomas commented on #84
Juan approved via slack.

[2018-10-11 19:47] gideonthomas commented on #70
@mozfesthouse once this has been ordered, let me know so I can close this ticket.

[2018-10-11 19:48] gideonthomas commented on #65
@mozfesthouse would you prefer to leave this open for reference, or can we close this?

[2018-10-11 19:55] gideonthomas commented on #71
@mozfesthouse has this been ordered for print? If so, can we close?

[2018-10-11 19:57] gideonthomas commented on #68
@mozfesthouse checking in again on this, can we close this ticket?

[2018-10-11 20:19] makikoumezawa commented on #42
@sabrinang I've made all the corrections from your feedback and included version 2 on Redpen.

Pdf version: https://drive.google.com/open?id=1SNI-duT6YYM0Zl0rTdvGkcvacSXwn_OC

@Saallen Can you please confirm if I placed Quiet Space, Lounge, Study Zone, and Emergent Sessions in the correct location? I'm aware which level they are on but I couldn't find any information where these spaces will be loc

[2018-10-11 21:17] sabrinang commented on #48
Separate .ai exports are updated in the same folder: https://drive.google.com/drive/u/1/folders/1DU4trit6eCXdnvx0TgVm4jfdc8h7N-rQ

### Floor Stickers Dimensions
Art+Data
33.1087 cm x 10 cm

Closing Party Partner
72.6857 cm x 26.2485 cm

Data Done Right Blue
125.7367 cm x 76.694 cm

Data Done Right Multi
58.7109 cm x 10 cm

Decentralisation
58.7109 cm x 10cm

Dialogues and Debates Large
135.7656 cm

[2018-10-11 21:21] sabrinang commented on #58
@marcwalsh Separate .ai files are updated in the folder : https://drive.google.com/drive/u/1/folders/1E82FDDwXMHCpkHsyNehdFZv_jUFVJYrk

### Label Dimensions
**Rectangle roll labels** (All in Rectangle Labels folder)
Custom size: 60mm x 30mm
9 designs for language stickers

**Square roll labels** (All in Square Labels folder)
Custom size: 30mm x 30mm
5 designs for pronoun stickers
1 design for iceb

[2018-10-11 21:26] sabrinang commented on #57
@marcwalsh Separate .ai files exported in the folder: https://drive.google.com/drive/u/1/folders/1IglhhyENQkdUWQxSaAZzcNkIFtYXAw_5

### Dimensions

**Clear Die Cut Stickers Folder**

MozFest 2018 Sticker
7.9375 cm x 2.5457 cm

MozFest House
7.4969 cm x 3.7373 cm

Data Done Right Fill
7.0012 cm x 4.3992 cm

Data Done Right Outline
7.0012 cm x 4.3992 cm

**Square Stickers Folder**

Art+Data, Gaming

[2018-10-11 22:20] natalieworth commented on #85
Oh sorry @jcbarajas , I've updated with the full mozfest logo back in and simplified the background (it was getting a bit too busy with all the logos). Did you want a separated 'mozilla' only logo too? Or is just the MozFest logo okay?

<img width="962" alt="screen shot 2018-10-11 at 3 19 19 pm" src="https://user-images.githubusercontent.com/14876567/46837174-1907c580-cd69-11e8-836c-2a058f01eccf.p

[2018-10-11 22:35] jcbarajas commented on #85
This looks great! Just the MozFest logo is fine.

On Thu, Oct 11, 2018 at 3:20 PM Natalie Worth <notifications@github.com>
wrote:

--
*Juan Barajas*
Director of Partnerships

*Mozilla Foundation*

*San Francisco Office*

*Mobile:* +1(415) 297-7309
*www.mozillafoundation.org <http://www.mozillafoundation.org>*

[2018-10-11 22:57] marcwalsh commented on #57
Closing as sent to print - ETA 18th October

Will reopen if the printer requests changes.

[2018-10-11 22:57] #57 closed

[2018-10-11 23:20] marcwalsh commented on #58
Sent to print! ETA - Oct 23rd delivered to Ravensbourne.

Closing ticket and will reopen if printer requires changes.

[2018-10-11 23:20] #58 closed

[2018-10-11 23:22] natalieworth commented on #85
@gideonthomas What is next step or how do I send to print?

[2018-10-11 23:30] marcwalsh commented on #58
Just an FYI due to time restriants I'm printing standard rectangle / square single versions (not on rolls) of these for MozFest House.

[2018-10-12 00:13] sabrinang commented on #58
Ok thanks Marc, I'm glad these will be at MozFest House as well this year!

[2018-10-12 01:47] gideonthomas commented on #85
@natalieworth would you be able to follow the instructions linked in [this comment](https://github.com/MozillaFoundation/mozfest-design-2018/issues/85#issuecomment-424421773) and export the pdf file (according to the instructions) into google drive and link it here? Then we can assign it to Marc for print.

[2018-10-12 03:43] natalieworth commented on #85
@marcwalsh Print pdf ready file for this [is here](https://drive.google.com/file/d/12-AKn6VyuOIz0Bt_JSYqglclcWNcIrf9/view?usp=sharing)

I think this is the order form:
https://www.pixartprinting.com/displays/exhibition-banners/pop-up-display/

cc @gideonthomas

[2018-10-12 04:38] makikoumezawa commented on #73
@gideonthomas **Here is the High-Quality Print Version of the Festival Guide:**
https://drive.google.com/open?id=1sxxqW-zUZnAIRKdYLmBtw_auoGRh1cR7

**Package Folder:** https://drive.google.com/open?id=1ojZVYCfF7sva3xI8ZOTZE1RYJfVmEb-Y

I've adjusted the color palette to a Pantone color (The Plus Series Color Bridge Uncoated) so the color will look different on screen.

**For online purposes, I've

[2018-10-12 05:27] sabrinang commented on #44
@Saallen Please review the copy and design on redpen: https://redpen.io/p/uy68fd9de2b1cef2a5

These are the large floor displays at the registration area for sign-in, name tag customisation, swag, youth/press/accessibility, participaiton guideline and privacy alert for the weekend. I'm not sure if these floor displays are too large for MozFest House but but I exported the for the CPG and privacy a

[2018-10-12 05:27] sabrinang commented on #83
@Saallen @jcbarajas Please review redpens: https://redpen.io/ybf24b082c01d0f537 & https://redpen.io/bvf3c10869942bb73f

<img width="905" alt="image" src="https://user-images.githubusercontent.com/2492510/46848159-35255a00-cd9d-11e8-83e2-4bac1797c9ae.png">

Print PDFs on gdrive here exported on floor display pixart template: https://drive.google.com/drive/u/1/folders/1RCs-O7tRnoZgOwUkJb5ywS_ZFvNja4

[2018-10-12 07:13] makikoumezawa commented on #41
@Saallen Here is the overview of the floor banners: https://redpen.io/p/uyc27e0defb58f60ca

/cc @gideonthomas @sabrinang

[2018-10-12 10:31] mozfesthouse commented on #71
@gideonthomas yes pls close!

[2018-10-12 10:33] mozfesthouse commented on #65
@gideonthomas hi - actually would you leave open - just for reference only though is fine!

[2018-10-12 10:35] mozfesthouse commented on #68
@gideonthomas good to close :)

[2018-10-12 11:41] Saallen commented on #73
GONE TO PRINT - WHOOOPPP Great work everyone 🎆

[2018-10-12 13:11] Saallen commented on #62
Hey @sabrinang and @makikoumezawa the printer has requested you add a bleed on the back of each name tag

[2018-10-12 13:26] Saallen commented on #62
@gideonthomas adding you in to help get this done asap

[2018-10-12 15:42] Saallen commented on #49
@jcbarajas one last review please?

[2018-10-12 16:22] jcbarajas commented on #83
These look good to me.

On Thu, Oct 11, 2018 at 10:27 PM sabrinang <notifications@github.com> wrote:

--
*Juan Barajas*
Director of Partnerships

*Mozilla Foundation*

*San Francisco Office*

*Mobile:* +1(415) 297-7309
*www.mozillafoundation.org <http://www.mozillafoundation.org>*

[2018-10-12 16:38] jcbarajas commented on #49
Looks great with one change. The Science Fair Partner should sit above the
the Closing Party Partner since it's a higher dollar level. So the order
should be, from top to bottom:

Presenting Festival Partner - Private Internet Access
Science Fair Partner - Internet Society
Closing Party Partner - Sticker Mule
Youth Zone Partner - Samsung

PS. Please ignore the the access request from my juan.baraj

[2018-10-12 16:41] gideonthomas commented on #49
@natalieworth would you be able to make this change and export as pdfs like Sabrina did above?

[2018-10-12 16:45] gideonthomas commented on #62
@natalieworth will be taking this on

[2018-10-12 17:03] #68 closed

[2018-10-12 17:04] #71 closed

[2018-10-12 17:11] Saallen commented on #42
Hey @makikoumezawa  I reviewed and made some edits here
[scan-1.pdf](https://github.com/MozillaFoundation/mozfest-design-2018/files/2473909/scan-1.pdf)

**level 1** 0- Quiet space is next door to where you allocated
Mezz on my print out has the M right up against Art....weirdly its not on the digital versions
**Level 1** is fine
**Level 2** is fine
**Level 3** is fine
**Level 4** has too many word

[2018-10-12 17:14] Saallen commented on #42
Good to note the the level list at the bottom of each large map
on level 4 you share Main Stage/Web Literacy

* please note all revisions apply across the pages, not just the one with all the maps

[2018-10-12 17:15] Saallen commented on #94
Hey @makikoumezawa - I added comments to the slide deck

[2018-10-12 18:00] natalieworth commented on #99
@Saallen For point 8, do you want just the logo on each slide, or also some content/ name/ maybe the description of each?

[2018-10-12 18:06] beccaklam commented on #21
@zee-moz I put these in the psd file in this ticket #22 as well. But looks like you were good with the original google doc anyway :) Going to close ticket for now. Please reopen if needed!

[2018-10-12 18:06] #21 closed

[2018-10-12 18:28] gideonthomas commented on #42
@makikoumezawa -- requesting one more change (since it can be a bit confusing). Can we separate out lunch into two things?

So in the legend it would be:
\<fork and knife icon\> Hot Lunch
\<some appropriate icon\> Grab & Go Food

and then mark them on the maps?
Grab & Go Food will be on Level 0 and 9
Hot Lunch will be on Level 4 and 7.

Let me know if you're able to make these changes.

[2018-10-12 18:28] sabrinang commented on #62
Exported as separated PDFs: https://drive.google.com/drive/u/1/folders/1BHA9TYFYjVG6rh3-gHiv1sfxIygb5vAL

All files have a 5mm bleed with trim marks exported. Regarding the back of name tags, they all have extended artwork on the bleeds just note only house has coloured artwork to the edge while all weekend cards has white artwork to the edge since it has a white border design throughout the desig

[2018-10-12 18:30] beccaklam commented on #17
Given the tight timeline and the fact that sabrina has actually already created some graphics for this already, I'm going to close this ticket for now. Please reopen if need.

[2018-10-12 18:30] #17 closed

[2018-10-12 18:33] beccaklam commented on #14
@sabrinang Just to clarify, for this task, is it to create a template for quotes, images?

[2018-10-12 18:34] natalieworth commented on #49
Updated the hierarchy of the banner:

<img width="306" alt="screen shot 2018-10-12 at 11 30 31 am" src="https://user-images.githubusercontent.com/14876567/46887506-a94e1500-ce12-11e8-8fb3-c469cd2f86eb.png">

Print file is here https://drive.google.com/drive/u/0/folders/1JRdc6Rg3HkMC8aFuM73u1R66_Jhxo3TN

cc @jcbarajas @gideonthomas

[2018-10-12 18:49] jcbarajas commented on #49
Looks good!

On Fri, Oct 12, 2018 at 11:34 AM Natalie Worth <notifications@github.com>
wrote:

--
*Juan Barajas*
Director of Partnerships

*Mozilla Foundation*

*San Francisco Office*

*Mobile:* +1(415) 297-7309
*www.mozillafoundation.org <http://www.mozillafoundation.org>*

[2018-10-12 18:50] natalieworth commented on #36
From Matthew:

[2018-10-12 19:09] gideonthomas commented on #62
Sent to printer. Will reopen if anything else pops up.

[2018-10-12 19:09] #62 closed

[2018-10-12 19:10] annmarie123 commented on #36
@natalieworth that copy for the fellows/awards is just fine.

[2018-10-12 19:24] sabrinang commented on #55
We will have the privacy alert as a floor display size near registration: https://github.com/MozillaFoundation/mozfest-design-2018/issues/44

We will have 2 printed on rigid media 59.4cm x 59.4cm to match https://github.com/MozillaFoundation/mozfest-design-2018/issues/84   as a set behind registration on the grate.

<img width="1012" alt="image" src="https://user-images.githubusercontent.com/24925

[2018-10-12 19:25] sabrinang commented on #55
note: I will export House versions as well

[2018-10-12 19:37] gideonthomas commented on #41
@Saallen re-pinging for review.

[2018-10-12 20:02] natalieworth commented on #99
Have gotten a start on [this deck here](https://docs.google.com/presentation/d/1DnL7AhbnMiSwaTOxxCmKDmBJFV1F9SMfgYZAMeo3XUs/edit?usp=sharing) for the Science Fair.

cc @Saallen @gideonthomas and @sabrinang if you could do a brand check too before I get too far along.

[2018-10-12 20:48] sabrinang commented on #55
MozFest House privacy alert in A3 size. It also has this privacy alert as a large floor display size also in issue #44

A3 & Floor Display sizes:
<img width="723" alt="image" src="https://user-images.githubusercontent.com/2492510/46893217-11a5f200-ce25-11e8-8d46-47b8d605bf4d.png">

@Saallen A3 Redpen for review here: https://redpen.io/az8834c7ac87ac5679

Print PDF also exported in gdrive here: htt

[2018-10-12 21:08] gideonthomas commented on #99
@Saallen confirming based on our previous sponsor decisions -- we aren't including the Closing and Youth Zone Partner in the Science Fair slides right?

[2018-10-12 21:21] sabrinang commented on #56
We will have the pariticipation guidelines EN as a floor display size near registration: https://github.com/MozillaFoundation/mozfest-design-2018/issues/44

We will have 2 printed on rigid media 59.4cm x 59.4cm to match https://github.com/MozillaFoundation/mozfest-design-2018/issues/84   as a set behind registration on the grate.

<img width="1012" alt="image" src="https://user-images.githubuserco

[2018-10-12 21:36] sabrinang commented on #99
@natalieworth looking good! For the sponsorship slides 2-5 can you match the style of the banner https://github.com/MozillaFoundation/mozfest-design-2018/issues/49#issuecomment-429419477 ?

[2018-10-14 14:02] Saallen commented on #99
@gideonthomas Emmmmm, I was thanking them for their overall support but if you think this is a little off brand then fine to remove. Can you review for sense check too @gideonthomas

[2018-10-14 14:02] Saallen commented on #99
Oh @natalieworth looking great thanks

[2018-10-14 14:13] Saallen commented on #56
Looks great @sabrinang 💮

[2018-10-14 14:45] Saallen commented on #41
Hey @makikoumezawa looking great two requests however
* Can you make a banner that says Mozilla Zone
* Lounge space- should say  something that indicates its "brought to you by our Presenting partner Private internet access" w logo

[2018-10-14 14:51] Saallen commented on #36
The fellow will be based on level one in the Mozilla zone

[2018-10-14 15:03] Saallen commented on #44
Looks great - approved 👍

[2018-10-14 15:38] Saallen commented on #86
look great @sabrinang  thanks

[2018-10-14 20:33] gideonthomas commented on #99
my suggestion would be to amend the sponsor copy to be "Thank you to our following sponsors for supporting the MozFest 2018 Science Fair" and only including Private internet access and internet society.

[2018-10-15 09:46] marcwalsh commented on #61
Sent to print!

[2018-10-15 09:46] #61 closed

[2018-10-15 11:00] rowestephanie1 commented on #97
@gideonthomas @sabrinang - Thanks for the efforts on this... We are going with woolly hats solely. Closing ticket.

[2018-10-15 11:00] #97 closed, assigned to rowestephanie1

[2018-10-15 11:01] rowestephanie1 commented on #91
@sabrinang  @gideonthomas thanks for the efforts on this. These are now ordered. Closing tickets!

[2018-10-15 11:01] #91 closed

[2018-10-15 11:01] marcwalsh commented on #64
SENT TO PRINT!

🕺

[2018-10-15 11:01] #64 closed

[2018-10-15 11:02] rowestephanie1 commented on #90
@gideonthomas @Saallen @Saallen Thanks all. This is all complete now.

[2018-10-15 11:02] #90 closed

[2018-10-15 11:04] rowestephanie1 commented on #89
@sabrinang  @gideonthomas @Saallen thanks for the efforts on this. These are now ordered. Closing ticket!

[2018-10-15 11:04] #89 closed

[2018-10-15 12:01] Saallen commented on #55
approved

[2018-10-15 12:13] marcwalsh commented on #67
Sent to print as we couldn't find them in storage!

Closing.

[2018-10-15 12:13] #67 closed

[2018-10-15 13:26] mozfesthouse commented on #70
@sabrinang would you just approve the window vinyls -
![mfhouse_window_vinyls_2018](https://user-images.githubusercontent.com/40634524/46953530-056c9f80-d086-11e8-9583-b7febd7e93d1.png) - the window pane measurements needed to be adjusted slightly (my fault - they were measured wrong last year and needed to be updated on github), but they have kept the proportions the same on the design, just need

[2018-10-15 15:34] sabrinang commented on #70
@mozfesthouse Thanks for clarifying the panes are not squared proportion. For this context only, it's fine it doesn't have the squared design then and looks fine as the logo is not stretched. Note the screenshot has a square selected/blue border on the left just check it isn't on the final design.

When possible, can you include the finalized print files and dimensions so we have the correct refer

[2018-10-15 15:40] gideonthomas commented on #42
@makikoumezawa how's this going?

[2018-10-15 17:23] marcwalsh commented on #83
Sent to print! 💃

[2018-10-15 17:24] airmoandy commented on #40
Thanks Sabrina!

[2018-10-15 17:28] airmoandy commented on #81
Please note that we will no be using these YouTube events for Sat/Sun, but using the Mozilla YouTube Channel-level stream (as agreed upon last month).

DEPRECATED
MozFest 2018 - Dialogues and Debates – Saturday
Audience: https://www.youtube.com/watch?v=YmmAr1W8ReA
MozFest 2018 - Dialogues and Debates – Sunday
Audience: https://www.youtube.com/watch?v=YhCPOzpLROY

This is the Mozilla YouTube Channe

[2018-10-15 17:50] marcwalsh commented on #48
Sent to print! 👍

[2018-10-15 18:09] marcwalsh commented on #45
Sent to print! 🥇

[2018-10-15 18:09] #45 closed

[2018-10-15 18:51] gideonthomas opened #100 "Registration Table: Welcome Sign & Instruction poster"
Branching off from https://github.com/MozillaFoundation/mozfest-design-2018/issues/44

### Description:
When attendees enter the venue, there is registration signage to welcome them and provide instructions for Icebreaker Game/ Language/Pronouns Sticker.

### This collection of signs include

- [ ] Welcome sign (with l10n incorporated) https://github.com/mozilla/mozillafestival.org/issues/720
- [

[2018-10-15 21:48] makikoumezawa commented on #42
![screen shot 2018-10-15 at 2 53 30 pm](https://user-images.githubusercontent.com/41972873/46980701-3e0e7800-d08a-11e8-818e-1894c038ba25.png)

@gideonthomas I've included all the requests and made Sarah's corrections.

PDF version: https://drive.google.com/open?id=14wrFGxd5onSqCLUrLwetGp-VuuvEMljF
Redpen: https://redpen.io/p/tv5dbb6fbb96b46b85

/cc @Saallen @sabrinang

[2018-10-15 22:28] makikoumezawa commented on #94
@Saallen Completed the MozFest House Insert. I've changed the time slots to the 24 hour time to stay consistent with the Festival Guide and also added the new events you've listed.

Here is the pdf version: https://drive.google.com/open?id=1Jjp4BQsqS36mbFAsdG04Xc7MLmBxGxha

Google slides:
https://docs.google.com/presentation/d/14aDPsr3HcrmV9BF70le_oyvvAeI6_wlVeuSO9ZloGr4/edit?usp=sharing

/cc @sab

[2018-10-15 23:33] sabrinang commented on #46
The totems include maps from https://github.com/MozillaFoundation/mozfest-design-2018/issues/42 and participation guidelines from https://github.com/MozillaFoundation/mozfest-design-2018/issues/56. It includes the #MozHelp hashtag and sched URL on the side and features the floor number, space name, icon and short description.

For the experiences, I included a floor display that features their exp

[2018-10-16 00:40] gideonthomas commented on #94
@makikoumezawa there are a few more comments in the presentation. Let me know when you address them.

[2018-10-16 00:47] gideonthomas commented on #42
@Saallen would you be able to review these one last time?

@makikoumezawa would you be able to export each map as a separate pdf?

[2018-10-16 00:48] sabrinang commented on #50
I made A1 portrait hackable signs for schedules to be used instead of flip chart paper examples above. This design includes a light dotted grid in the back to help with alignment and a frame for each space, an experience frame for all three and a generic MozFest design if needed.

@marcwalsh If these should be smaller let me know but A2 seemed a bit too small but each space probably wouldn't need

[2018-10-16 00:48] sabrinang commented on #51
I made A4 portrait hackable signs for sessions for each space, an experience frame for all three, a generic MozFest design along with one we can fold for science fair.
<img width="1335" alt="image" src="https://user-images.githubusercontent.com/2492510/46985811-255d8c80-d0a1-11e8-9f1c-7d768960790e.png">

@Saallen Please review redpen here: https://redpen.io/p/nv40d15d16f67fa8eb

A4 Print PDF on gd

[2018-10-16 01:12] makikoumezawa commented on #94
@gideonthomas  I've resolved Sabrina's comments. The pdf link is a revised version.

[2018-10-16 01:54] gideonthomas commented on #94
Perfect! Thanks @makikoumezawa! @Saallen would you be able to take a quick final look?

[2018-10-16 03:00] sabrinang commented on #100
I made a A3 poster for the name card customization instructions: https://redpen.io/rt30b67c64b280391c

@acabunoc From your comment https://github.com/MozillaFoundation/mozfest-design-2018/issues/58#issuecomment-423671382 Should we just go with 4 squares? and what level is the Open Leadership Zone on? The previous poster included `Symmetrical matches count too!` so I added that line in as well (I t

[2018-10-16 12:06] marcwalsh commented on #93
@gideonthomas - Just confirming that I'll need to send to print AM of Friday (UK Time) - the printers contacted me today and that is the latest it will work to get everything pre-folded.

[2018-10-16 12:56] Saallen commented on #94
@makikoumezawa One amendment to a Thursday event-but marc amended.
Otherwise looks great and GONE TO PRINT 🎆

[2018-10-16 13:04] #94 closed

[2018-10-16 15:20] marcwalsh commented on #94
Attached is the ammended artwork and placed into spreads for print.

[New Artwork](https://github.com/MozillaFoundation/mozfest-design-2018/files/2483769/mozfesthouseinsert.pdf)

[2018-10-16 15:35] marcwalsh commented on #85
Sent to print! Thanks everyone 💃

[2018-10-16 15:35] #85 closed

[2018-10-16 15:41] marcwalsh commented on #44
Sent to print! Thanks 💆‍♂️

[2018-10-16 15:41] #44 closed

[2018-10-16 16:16] gideonthomas commented on #93
Perfect, thanks! @makikoumezawa are you able to make the current deadline of Thursday the 18th?

[2018-10-16 17:09] gideonthomas commented on #100
@Saallen how does this sound for the language/pronouns section (i would remove the title from this part):

Let others know what languages you speak and your gender pronouns by writing them on these stickers and attaching them to your name tag.

[2018-10-16 17:33] sabrinang commented on #100
I updated the redpen: https://redpen.io/rt30b67c64b280391c

note: instead of `gender pronouns` can we use`preferred pronouns` instead?

[2018-10-16 17:50] sabrinang commented on #47
The #MozHelp booth will have similar wayfinding to the registration floor display designs https://github.com/MozillaFoundation/mozfest-design-2018/issues/44 . This includes A4 bus stop signs, big poster and floor sign to cover up Ravensbourne's information desk signs. We don't need horizontal A4s those were extra last year.

<img width="737" alt="image" src="https://user-images.githubusercontent.c

[2018-10-16 17:56] gideonthomas commented on #100
My mistake, I would say "preferred gender pronouns" actually, using this - https://uxdesign.cc/designing-forms-for-gender-diversity-and-inclusion-d8194cf1f51 as a reference (Mozilla uses it for D&I research)

Side-note: It's kinda weird that the stickers are localized but the poster isn't. Something we should consider for next year.

[2018-10-16 18:07] marcwalsh commented on #70
(Just changing labels over to see where I'm still requiring items to print)

[2018-10-16 18:08] marcwalsh commented on #49
Sent to print! Thanks 🍭

[2018-10-16 18:08] #49 closed

[2018-10-16 18:09] marcwalsh commented on #59
I'm going to close this, and will reopen if a proof is sent through. 👁

[2018-10-16 18:09] #59 closed

[2018-10-16 18:43] makikoumezawa commented on #42
@gideonthomas Here's the folder with all maps and background layered sheets as separate pdfs:

https://drive.google.com/open?id=1BVbH8DQNOiyYW52_jeKlsGU2yAyFCgKQ

[2018-10-16 18:49] marcwalsh commented on #84
Sent to print! ⛸

[2018-10-16 18:49] #84 closed

[2018-10-16 19:18] abbycabs commented on #100
@sabrinang we're on level 7 by the stairs!
I'm running the math and slightly concerned that 4 squares will have too many permutations and not enough matches... Haven't considered symmetrical matches yet though.

Let's go with 4 for now and I'll update later today/tomorrow once I figure out the permutations

[2018-10-16 19:22] marcwalsh commented on #56
We're changing how this is being printed slightly...

*Printed by Pixart*
EN A3 Posters - x5 on Foamex
EN Square Posters - x2 on Foamex with Metal Hooks
EN Floor Stands x2 on Cardboard

*Printed at Ravensboune*
Other LANGs - A3 - x2 of each on heavy matt paper

[2018-10-16 19:23] marcwalsh commented on #56
I've sent to print all Pixart assets from this ticket - so removing the Ready to Print label and attaching Printing On-Site

[2018-10-16 19:24] marcwalsh commented on #55
We're changing how this is being printed slightly...

Printed by Pixart
EN A3 Posters - x5 on Foamex
EN Square Posters - x2 on Foamex with Metal Hooks
EN Floor Stands x2 on Cardboard

Printed at Ravensboune
Other LANGs - A3 - x2 of each on heavy matt paper

[2018-10-16 19:24] marcwalsh commented on #55
I've sent to print all Pixart assets from this ticket - so removing the Ready to Print label and attaching Printing On-Site

[2018-10-16 19:46] Saallen commented on #42
Aproved and look so pretty- Thanks 🌹

[2018-10-16 19:49] Saallen commented on #47
Perfect thanks @sabrinang

[2018-10-16 19:50] Saallen commented on #50
Look great- thanks

[2018-10-16 19:54] Saallen commented on #46
Gorgeous- reviewed with no issues

[2018-10-16 19:57] Saallen commented on #41
@makikoumezawa Did you impliment the changes requested above?
I dont see them in the new red pen to review @sabrinang

cc @gideonthomas

[2018-10-16 19:57] Saallen commented on #51
reviewed- and approved

[2018-10-16 20:01] Saallen commented on #100
Happy to use language that Mozilla D&I approve.

[2018-10-16 20:03] sabrinang commented on #81
I made updated holding graphics for Saturday & Sunday based on some of the visuals from Dialogues and Debates this year:
<img width="807" alt="image" src="https://user-images.githubusercontent.com/2492510/47043828-80e05680-d143-11e8-8bd5-4ed496cd638c.png">

@airmoandy you can download the PNGs (original and retina 2x size) exported from gdrive here: https://drive.google.com/drive/u/1/folders/1aceH

[2018-10-16 20:19] airmoandy commented on #81
Thank you so much Sabrina!

[2018-10-16 20:21] airmoandy commented on #81
QQ: What graphic would you like to use for the opening ceremonies on Saturday morning (4th floor)?

[2018-10-16 20:24] sabrinang commented on #81
Oh I forgot about that one thanks for the reminder. It will be different from those two so I'll update this issue with another one as well.

[2018-10-16 22:51] sabrinang commented on #40
<img width="1387" alt="image" src="https://user-images.githubusercontent.com/2492510/47051698-27cfed00-d15a-11e8-9ceb-a1090f55d163.png">

These screens are designed for the Saturday opening ceremony which includes a background slide, wordmark slide, welcome slide and opening keynote title slide.

@Saallen Do we have speakers for the opening keynote? and if so we can create title cards for these sp

[2018-10-16 22:52] sabrinang commented on #81
I updated issue https://github.com/MozillaFoundation/mozfest-design-2018/issues/40 regarding the previous comment :)

[2018-10-16 23:07] sabrinang commented on #33
<img width="458" alt="image" src="https://user-images.githubusercontent.com/2492510/47052390-e3921c00-d15c-11e8-9cad-978c1a8c9490.png">

Cyan - RGB | 0 | 255 | 255
Blue - RGB | 4 | 51 | 255
Purple - RGB | 143 | 20 | 251

I will adjust/tweak this with the lighting designer during set-up.

[2018-10-16 23:53] gideonthomas commented on #88
Closing as this is being tracked in the Design repo and print being handled by designers.

[2018-10-16 23:53] #88 closed

[2018-10-16 23:55] gideonthomas commented on #72
@mozfesthouse are we good to close this ticket?

[2018-10-16 23:56] gideonthomas commented on #95
Closing as this is tracked in the Design repo and printing will be handled by designers.

[2018-10-16 23:56] #95 closed

[2018-10-17 03:20] abbycabs commented on #100
After some thought, can we change it to fill in *3 squares*?

That’s give us something closer to a 1/50 chance to find a match

[2018-10-17 06:22] makikoumezawa commented on #41
**Overview**
![screen shot 2018-10-16 at 9 19 43 pm](https://user-images.githubusercontent.com/41972873/47113211-47741d80-d20d-11e8-9835-e853a2a62086.png)

**Data Done Right Tagline Banner and Mozilla Festival Annual Lockup Banner**
![screen shot 2018-10-16 at 9 03 53 pm](https://user-images.githubusercontent.com/41972873/47113396-c9644680-d20d-11e8-9bf1-7be4dab88e54.png)

**Mockup**
![screen shot

[2018-10-17 11:02] airmoandy commented on #40
R=Thank you so much for creating these additional graphics Sabrina! :-)

[2018-10-17 14:52] marcwalsh commented on #46
Sent to print! 🗺

[2018-10-17 14:52] #46 closed

[2018-10-17 17:04] marcwalsh commented on #42
@makikoumezawa - I think there may be an error on the L8 background. Could you check as it appears to be purple instead of the pink. :)

[2018-10-17 17:05] gideonthomas commented on #41
@Saallen does this look good?

[2018-10-17 17:09] sabrinang commented on #39
Here are the backgrounds for ProPresenter that will display on the screens beside the stage throughout the festival.

<img width="1353" alt="image" src="https://user-images.githubusercontent.com/2492510/47103591-65815400-d1f4-11e8-8997-802edbc73c33.png">

Last year's example:
<img width="428" alt="image" src="https://user-images.githubusercontent.com/2492510/47103180-84331b00-d1f3-11e8-90e4-f6ce5a

[2018-10-17 17:10] sabrinang commented on #40
@airmoandy regarding webcast console:
![webcast console reference](https://user-images.githubusercontent.com/2492510/47102653-26ea9a00-d1f2-11e8-99dc-3ecb1aac2780.png)
This graphic background is also used for the ProPresenter #39 as well so they will match. You can find the PNG here: https://drive.google.com/file/d/1bvz5pfZ3FyOctdzdgRL0zMOhJ6zRClub/view

[2018-10-17 17:15] gideonthomas commented on #39
I can coordinate the handover

[2018-10-17 18:05] airmoandy commented on #40
![image](https://user-images.githubusercontent.com/43478485/47106778-873f0300-d215-11e8-8dfc-540f690d4f24.png)
I made the changes (speaker bio now used as example). The logo does indeed have a white glow edge, which I think is necessary to make it prominent.

[2018-10-17 18:32] Saallen commented on #40
Looping in Sarah Watson to answer @sabrinang question above "Do we have speakers for the opening keynote? and if so we can create title cards for these speakers with their names"
We might not need slides for each but would be nice to have a static one but will let sarah make the decision

[2018-10-17 18:55] SarahWat commented on #40
Thanks - these look great!

Keynote will consist of:
- Allen Gunn, Executive Director of Aspiration
- Mark Surman, Executive Director of Mozilla Foundation
- Stéphanie Ouillon, Firefox Security Engineer, Mozilla Corporation
- Sunil Abraham, VP, Leadership Programs, Mozilla Foundation

[2018-10-17 18:55] SarahWat commented on #40
Although I don't believe we need slides for everyone. I think just having the MozFest 2018 slide up while everyone speaks is sufficient.

[2018-10-17 19:38] sabrinang commented on #40
Great thanks @SarahWat
<img width="1346" alt="image" src="https://user-images.githubusercontent.com/2492510/47111773-493be200-d209-11e8-9508-b5645a0b21ef.png">

PNGs exported in gdrive folder: https://drive.google.com/drive/u/1/folders/1bUoEsnIFbf9isbrH0ZpWrgi0Dkeupn84

[2018-10-17 19:42] makikoumezawa commented on #42
@marcwalsh - Thank you for finding my mistake. I've changed the L8 Background pdf and updated on the folder.

[2018-10-17 20:56] marcwalsh commented on #42
Sent to print!! Thanks 🍦

[2018-10-17 20:56] #42 closed

[2018-10-17 21:39] sabrinang commented on #73
Hey @makikoumezawa can you upload the digital online pdf as single pages? Issu generates single pages from your double page spreads so it's looking strange:
http://g.recordit.co/AHqimBozvS.gif

[2018-10-17 21:56] makikoumezawa commented on #73
@sabrinang Here is the online pdf as single pages: https://drive.google.com/open?id=1sxxqW-zUZnAIRKdYLmBtw_auoGRh1cR7

[2018-10-17 21:57] sabrinang commented on #73
Thanks!

[2018-10-17 21:57] #73 closed

[2018-10-18 00:59] makikoumezawa commented on #93
@gideonthomas Here is the pdf file: https://drive.google.com/open?id=1bGa65tUm1zSBT6PKA392IB52zgD9Qyzz

Could you review before being printed?

Redpen: https://redpen.io/p/szc2c715d43b11a28f

/cc @sabrinang @Saallen

[2018-10-18 15:50] marcwalsh commented on #51
Sent to print! 🖊

[2018-10-18 15:50] #51 closed

[2018-10-18 15:57] marcwalsh commented on #41
Sent to print! ⏲

[2018-10-18 15:58] marcwalsh commented on #41
Sorry closed the wrong ticket accidently!

[2018-10-18 15:59] marcwalsh commented on #50
Sent to print! ⌛️

[2018-10-18 15:59] #50 closed

[2018-10-18 17:00] gideonthomas opened #101 "Create MozFest Slide Template"
Create a simple Mozfest google slide template that program staff can use for presentations. Doesn't need to be elaborate, just needs MozFest branding.

[2018-10-18 17:01] gideonthomas commented on #101
@natalieworth do you think this is something you can do or would you rather Sabrina take this on?

[2018-10-18 18:53] Saallen commented on #41
Looks great thank you- yes please keep Internet research hub

[2018-10-18 18:56] Saallen commented on #93
Looks great- approved for print

[2018-10-18 19:10] gideonthomas commented on #39
@Saallen what are the screens we need for this?

@marcwalsh do you have a way to share the propresenter app with @natalieworth? It seems like it's a paid app.

[2018-10-18 19:12] gideonthomas commented on #40
@airmoandy let us know i you need any other assets other than the additional keynote ones above.

[2018-10-18 19:39] airmoandy commented on #40
Thank you Gideon! I believe that we are set with graphics for now :-)

[2018-10-18 19:47] #40 closed

[2018-10-18 21:48] natalieworth commented on #99
@Saallen So not all of the logos were in the doc file (I think there are only about 6). I ended up just including a type-based/ info about each demo on the last 4 slides, and included a logo slide at the very end in case it was important to show them? https://docs.google.com/presentation/d/1DnL7AhbnMiSwaTOxxCmKDmBJFV1F9SMfgYZAMeo3XUs/edit#slide=id.p

The last organization also didn't provide a dem

[2018-10-19 04:54] sabrinang commented on #53
I designed a light and dark poster with the main lockup. Also, included a design for the l10n versions of the lockup.

@Saallen What would you suggest for location info or copy? Last year it was London, UK but on our website we have Greenwich alone so I am a bit confused what is the proper way to write out the location on the poster.

<img width="1102" alt="image" src="https://user-images.githubus

[2018-10-19 05:37] makikoumezawa commented on #54
@Saallen Here is the pdf version for the Dialogues and Debates Posters which will be printed at Ravensbourne: https://drive.google.com/open?id=1jZKX9fphXjyVcTLcy0zFSoZp4vSl0lf8

/cc @sabrinang  @gideonthomas

[2018-10-19 09:28] marcwalsh commented on #39
@gideonthomas @natalieworth there is a download link for a two week trail available here:
https://renewedvision.com/propresenter/download/